<!DOCTYPE html>
<!-- 언어 한글 설정, 타임리프/레이아웃/시큐리티 네임스페이스 선언 -->
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <!-- PWA 매너페스트 파일 연결 -->
<!--    <link rel="manifest" href="manifest.json" />-->
    <!-- 상태바 색상을 흰색으로 변경 -->
    <meta name="theme-color" content="#ffffff" />
    <!-- 모바일 기기 뷰포트 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 파비콘 설정 -->
    <link rel="shortcut icon" href="images/icons/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/icons/favicon-32x32.png"
    />
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>MegaCoffee(admin)</title>
    <!-- 사용자 정의 CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_admin.css}" />
  </head>
  <body>
    <!-- 테두리 및 네비게이션 바 -->
<div class="share-container container">
  <div th:replace="fragments/navbar_admin :: navbarFragment"></div>
  <!-- 매 페이지마다 교체될 본문 영역 -->
  <th:block layout:fragment="contents"> </th:block>
</div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- 부트스트랩 JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <!-- 자바스크립트 Start -->
    <th:block layout:fragment="script"></th:block>
  </body>
</html>
