<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href=".././static/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href=".././static/css/style_admin.css"
    />
    <!-- 사용자 정의 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_admin.css"
    />
  </head>
  <body class="megamega">
    <div layout:fragment="admin_layout" class="container">
      <div>
        <h2 class="headernotice">공지등록</h2>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="th-pack">카테고리</th>
              <th scope="col" class="th-pack">제목</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-pack">
                <select
                  class="form-select w-50 d-inline-block"
                  aria-label="Default select example"
                  style="height: 29%"
                >
                  <option value="1">이벤트</option>
                  <option value="2">공지사항</option>
                </select>
              </td>
              <td class="d-flex justify-content-center">
                <div class="input-group input-group-sm mb-3 w-75">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    style="height: 150%"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tr>
            <th scope="col" class="th-pack" style="margin-top: 0">
              공지 이미지
            </th>
          </tr>
        </table>
        <table class="table">
          <thead>
            <div class="upload-box">
              <div id="drop-file" class="drag-file">
                <img
                  src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                  alt="파일 아이콘"
                  class="image"
                />
                <p class="message">Drag files to upload</p>
                <img src="" alt="미리보기 이미지" class="preview" />
              </div>
              <label class="file-label" for="chooseFile">파일선택</label>
              <input
                class="file"
                id="chooseFile"
                type="file"
                onchange="dropFile.handleFiles(this.files)"
                accept="image/png, image/jpeg, image/gif"
              />
            </div>
          </thead>
        </table>
      </div>
    </div>
    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
      );
      const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
      );
    </script>
    <script>
      function DropFile(dropAreaId, fileListId) {
        let dropArea = document.getElementById(dropAreaId);
        let fileList = document.getElementById(fileListId);

        function preventDefaults(e) {
          e.preventDefault();
          e.stopPropagation();
        }

        function highlight(e) {
          preventDefaults(e);
          dropArea.classList.add("highlight");
        }

        function unhighlight(e) {
          preventDefaults(e);
          dropArea.classList.remove("highlight");
        }

        function handleDrop(e) {
          unhighlight(e);
          let dt = e.dataTransfer;
          let files = dt.files;

          handleFiles(files);

          const fileList = document.getElementById(fileListId);
          if (fileList) {
            fileList.scrollTo({ top: fileList.scrollHeight });
          }
        }

        function handleFiles(files) {
          files = [...files];
          // files.forEach(uploadFile);
          files.forEach(previewFile);
        }

        function previewFile(file) {
          console.log(file);
          renderFile(file);
        }

        function renderFile(file) {
          let reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = function () {
            let img = dropArea.getElementsByClassName("preview")[0];
            img.src = reader.result;
            img.style.display = "block";
          };
        }

        dropArea.addEventListener("dragenter", highlight, false);
        dropArea.addEventListener("dragover", highlight, false);
        dropArea.addEventListener("dragleave", unhighlight, false);
        dropArea.addEventListener("drop", handleDrop, false);

        return {
          handleFiles,
        };
      }

      const dropFile = new DropFile("drop-file", "files");
    </script>
  </body>
</html>
