<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./managementOrder.css" />
  </head>
  <body>
    <div layout:fragment="admin_layout" class="container-3">
      <div layout:fragment="admin_layout" class="managementOrder">
        <h2>하이</h2>
      </div>
    </div>
  </body>
</html>
