<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  <div layout:fragment="contents" class="border p-2">
      <div class="p-2">
        <div class="mt-3">
          <p class="fs-2 fw-bold text-center" style="color: #ffc107">
            공지사항 상세조회
          </p>
        </div>
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <tr
                class="text-center"
                style="background-color: #ffc107; color: white"
              >
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col">날짜</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center" th:text="${notice.noticeCate}">

                </td>
                <td class="d-flex justify-content-center" th:text="${notice.noticeTitle}"></td>
                <td class="text-center" th:text="${notice.noticeDateTime}"></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <tr>
              <th
                scope="col"
                class="text-center"
                style="margin-top: 0; background-color: #ffc107; color: white"
              >
                공지 이미지
              </th>
            </tr>
            <tr>
              <td class="d-flex justify-content-center" style="background-color: #f7f7f7">
                <img class=" w-75" th:src="@{'/static/upload/' + ${notice.noticeImgUrl}}">
              </td>
            </tr>
          </table>
        </div>
        <!-- 끝 -->
        <div class="d-flex">
          <span class="submitBtnBox text-end">
            <button type="button" onclick="history.back();" class="btn btn-orderselect submitBtn">
              확인완료
            </button>
          </span>
          <span class="editBtnBox text-end">
            <button type="button" class="btn btn-orderselect editBtn">
              수정
            </button>
          </span>
        </div>
      </div>
    </div>

    <script>

    </script>
  </body>
</html>
