<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
  <div layout:fragment="contents" class="border p-2">
      <!-- 조회 검색창 -->
      <div class="row mt-3 d-flex ms-2">
        <select
          class="form-select w-25 d-inline-block"
          aria-label="Default select example"
          style="height: 29%"
        >
          <option value="1">주문번호</option>
          <option value="2">아이디</option>
        </select>
        <div class="input-group mb-3 h-25 "  style="width: 70%">
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary order-search"
            type="button"
            id="button-addon2"
          >
            검색
          </button>
        </div>
      </div>
      <hr style="margin-top: 0" />
      <!-- 조회 캘린더 -->
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <span th:text="|주문 총 ${count}개|">0</span>
          <button type="button" class="btn btn-light">전체</button>
          <button type="button" class="btn btn-light">1개월</button>
          <form class="d-flex align-items-center ms-3">
            <span><input type="date" />~<input type="date" /></span>
            <span><input class="mx-2" type="submit" value="조회" /></span>
          </form>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <select
            class="form-select_2 h-75"
            aria-label="Default select example"
          >
            <option value="1">최신순</option>
            <option value="2">오래된순</option>
          </select>

          <div>
            <button
              type="button"
              class="btn fw-bold"
              onclick="deleteSelectedOrder()"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="선택한 주문내역들을 모두 삭제 가능합니다."
            >
              <img
                class="minus-button"
                th:src="@{/images/icons/minus-button.png}"
                alt=""
              />
              선택 삭제
            </button>
          </div>
        </div>
      </div>

      <!-- 테이블 -->
      <div>
        <table class="table table-bordered">
          <thead>
            <tr style="background-color: #ffc107; color: white">
              <th class="text-center" scope="col"></th>
              <th class="text-center" scope="col">주문일</th>
              <th class="text-center" scope="col">주문번호</th>
              <th class="text-center" scope="col">아이디</th>
              <th class="text-center" scope="col">총 주문금액</th>
              <th class="text-center" scope="col">주문상태</th>
              <th class="text-center" scope="col">주문상세조회</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle">
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </td>
              <td >21</td>
              <td>21</td>
              <td>21</td>
              <td>21</td>
              <td>
                <select
                  class="form-select_2"
                  aria-label="Default select example"
                >
                  <option value="1">결제완료</option>
                  <option value="2">주문확인</option>
                  <option value="3">제조완료</option>
                </select>
              </td>
              <td>
                <button type="button" class="order-detail-btn">
                  <a

                    class="p-0 order-detail"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="클릭하시면 상세조회 페이지로 이동합니다."
                    >상세조회</a
                  >
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <script>
      const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
      );
      const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
      );
      // 공지 상세조회 페이지로 이동
      $(document).ready(function () {
        $(".order-detail-btn").on("click", function (e) {
          e.preventDefault();

          window.location.href = "managementOrderDetailed.html";
        });
      });
    </script>
  </body>
</html>
