<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 수정 페이지</title>
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <div class="p-2">
        <div class="mt-3">
          <p class="fs-2 fw-bold text-center" style="color: #ffc107">
            공지사항 수정
          </p>
        </div>
        <div class="row">
          <table class="table table-bordered">
            <thead>
              <tr
                class="text-center"
                style="background-color: #ffc107; color: white"
              >
                <th scope="col">번호</th>
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <!-- 번호 -->
                  <p id="noticeNo" th:text="${notice.noticeNo}">777</p>
                </td>
                <td class="text-center">
                  <select
                    class="form-select w-50 d-inline-block"
                    aria-label="Default select example"
                    id="inputNoticeCate"
                    style="height: 29%"
                  >
                    <option
                      value="이벤트"
                      th:selected="${'이벤트' == notice.noticeCate}"
                    >
                      이벤트
                    </option>
                    <option
                      value="공지사항"
                      th:selected="${'공지사항' == notice.noticeCate}"
                    >
                      공지사항
                    </option>
                  </select>
                </td>
                <td class="d-flex justify-content-center">
                  <div class="input-group input-group-sm mb-3 w-75">
                    <input
                      type="text"
                      class="form-control"
                      style="height: 150%"
                      id="inputNoticeTitle"
                      th:value="${notice.noticeTitle}"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <tr>
              <th
                scope="col"
                class="text-center w-50"
                style="margin-top: 0; background-color: #ffc107; color: white"
              >
                공지 썸네일 이미지
              </th>
              <th
                scope="col"
                class="text-center w-50"
                style="margin-top: 0; background-color: #ffc107; color: white"
              >
                공지 본문 이미지
              </th>
            </tr>
            <tr>
              <td>
                <div class="upload-box d-flex justify-content-center w-100">
                  <button
                    type="file"
                    class="btn btn-warning"
                    style="width: 10%; color: white"
                    onclick="onClickUpload2();"
                  >
                    변경</button
                  >&nbsp;&nbsp;<img
                    th:src="${'/static/upload/' + notice.noticeTitleImg}"
                    class="w-50"
                    id="imgNoticeTitleImageUrl"
                  />
                  <!--  -->
                  <input
                    type="file"
                    style="visibility: hidden"
                    id="inputNoticeTitleImageUrl"
                    onchange="readURL2(this);"
                  />
                </div>
              </td>
              <td>
                <div class="upload-box d-flex justify-content-center w-100">
                  <button
                    type="file"
                    class="btn btn-warning"
                    style="width: 10%; color: white"
                    onclick="onClickUpload();"
                  >
                    변경</button
                  >&nbsp;&nbsp;<img
                    th:src="${'/static/upload/' + notice.noticeImgUrl}"
                    class="w-50"
                    id="imgNoticeImageUrl"
                  />
                  <!--  -->
                  <input
                    type="file"
                    style="visibility: hidden"
                    id="inputNoticeImageUrl"
                    onchange="readURL(this);"
                  />
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- 업로드 버튼 시작 -->
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-warning text-white md-submit"
            id="noticeUpdate"
            onclick="func_notice_updateAction();"
          >
            상품 수정
          </button>
        </div>
        <!-- 업로드 버튼 끝 -->
      </div>
    </div>

    <script layout:fragment="script">
      // 이전 썸네일 이미지
      let previousTitleImageUrl = document
        .getElementById("imgNoticeTitleImageUrl")
        .getAttribute("src");
      let previousTitleImageUrlReal = previousTitleImageUrl.replace(
        "/static/upload/",
        ""
      );
      // 이전 본문 이미지
      let previousImageUrl = document
        .getElementById("imgNoticeImageUrl")
        .getAttribute("src");
      let previousImageUrlReal = previousImageUrl.replace(
        "/static/upload/",
        ""
      );

      // 이미지 등록 버튼 액션
      function onClickUpload() {
        let inputNoticeImageUrl = document.getElementById(
          "inputNoticeImageUrl"
        );
        inputNoticeImageUrl.click();
      }

      // 타이틀 이미지 등록 버튼 액션
      function onClickUpload2() {
        let inputNoticeTitleImageUrl = document.getElementById(
          "inputNoticeTitleImageUrl"
        );
        inputNoticeTitleImageUrl.click();
      }

      // 이미지 URL 읽어오기
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("imgNoticeImageUrl").src = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        } else {
          document.getElementById("imgNoticeImageUrl").src =
            previousImageUrlReal;
        }

        let inputNoticeImageUrl = document.getElementById(
          "inputNoticeImageUrl"
        );
        console.log("input:file value:" + inputNoticeImageUrl.value);
        console.log("files:" + inputNoticeImageUrl.files[0]);
      }

      // 타이틀 이미지 URL 읽어오기
      function readURL2(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("imgNoticeTitleImageUrl").src =
              e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        } else {
          document.getElementById("imgNoticeTitleImageUrl").src =
            previousTitleImageUrlReal;
        }

        let inputNoticeTitleImageUrl = document.getElementById(
          "inputNoticeTitleImageUrl"
        );
        console.log("input:file value:" + inputNoticeTitleImageUrl.value);
        console.log("files:" + inputNoticeTitleImageUrl.files[0]);
      }

      // 공지 사항 신규 등록 액션
      function func_notice_updateAction() {
        image_upload();
      }

      // 이미지 업로드 폴더에 저장하기
      function image_upload() {
        let inputNoticeImageUrl = document.getElementById(
          "inputNoticeImageUrl"
        );
        let inputNoticeTitleImageUrl = document.getElementById(
          "inputNoticeTitleImageUrl"
        );

        if (
          inputNoticeImageUrl.files &&
          inputNoticeImageUrl.files[0] &&
          inputNoticeTitleImageUrl.files &&
          inputNoticeTitleImageUrl.files[0]
        ) {
          let fileUrl = inputNoticeImageUrl.value;
          let fileUrl2 = inputNoticeTitleImageUrl.value;

          let index = fileUrl.lastIndexOf("\\");
          let index2 = fileUrl2.lastIndexOf("\\");

          let fileName = fileUrl.substr(index + 1);
          let fileName2 = fileUrl2.substr(index2 + 1);

          console.log("fileName:" + fileName);
          console.log("fileName2:" + fileName2);

          let form = new FormData();
          form.enctype = "multipart/form-data";
          form.append("file", inputNoticeImageUrl.files[0], fileName);
          form.append("file2", inputNoticeTitleImageUrl.files[0], fileName2);

          fetch("/upload2", {
            method: "POST",
            headers: {},
            body: form,
          })
            .then((response) => {
              return response.json();
            })
            .then((json) => {
              console.log("json:", json);

              // 서버에서 반환한 이미지 파일 이름 활용
              func_notice_addAction_json(
                json.uploadFileName,
                json.uploadFileName2
              );
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          // 이미지를 변경하지 않은 경우
          func_notice_updateAction_json(
            previousImageUrlReal,
            previousTitleImageUrlReal
          );
        }
      }

      function func_notice_updateAction_json(
        noticeImageUrl,
        noticeTitleImageUrl
      ) {
        const numValue = document.getElementById("noticeNo").innerText;
        const categoryValue = document.getElementById("inputNoticeCate").value;
        const noticeTitleValue =
          document.getElementById("inputNoticeTitle").value;

        console.log("카테고리:" + categoryValue);
        console.log("상품명:" + noticeTitleValue);

        let params = {
          noticeNo: numValue,
          noticeCate: categoryValue,
          noticeTitle: noticeTitleValue,
          noticeImgUrl: noticeImageUrl,
          noticeTitleImg: noticeTitleImageUrl,
          noticeDateTime: new Date(),
        };

        fetch("/admin/notice/updateItem", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));

            // 다음페이지로 이동
            window.location.href = "/admin/notice";
          })
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </body>
</html>
