<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 관리</title>
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <!-- 회원 상세 정보 조회 시작 -->
      <div class="md">
        <div class="mt-2">
          <p class="fs-2 text-center title">회원 정보 상세 조회</p>
        </div>
        <div class="d-flex flew-wrap justify-content-center p-3">
          <table
            class="member-detail-table table w-75 table-bordered border-outline-white"
          >
            <thead>
              <tr>
                <th><span>·</span><span>아이디</span></th>
                <td th:text="${member.memberId}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>이름</span></th>
                <td th:text="${member.memberName}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>생년월일</span></th>
                <td th:text="${member.memberBirth}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>이메일</span></th>
                <td th:text="${member.memberEmail}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>연락처</span></th>
                <td th:text="${member.memberPhone}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>비밀번호</span></th>
                <td th:text="${member.memberPw}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>보유 스탬프</span></th>
                <td th:text="${member.memberStamp}"></td>
              </tr>
            </thead>
          </table>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-warning text-white md-submit" onclick="confirmDetails()">
            확인 완료
          </button>
        </div>
      </div>
      <!-- 회원 상세 정보 조회 끝 -->
    </div>
    <script layout:fragment="script">
      // 확인 완료 버튼 - 이동 구현
      function confirmDetails() {
      alert("회원 정보 확인이 완료되었습니다!");
      // 회원 목록 페이지로 이동
      window.location.href = '/admin/member';
    }
    </script>
  </body>
</html>
