<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:dates="http://www.thymeleaf.org/extras/dates"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 관리</title>
  </head>
  <body>
      <!-- 멤버 조회 검색창 시작 -->
      <div layout:fragment="contents" class="border p-2">
        <div class="mt-1 d-flex dropdown mM-dropdown">
          <select class="w-25 h-25 form-select">
            <option selected>조회 옵션</option>
            <option value="1">회원명</option>
            <option value="2">아이디</option>
            <option value="3">회원명 + 아이디</option>
          </select>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="검색하실 회원의 이름이나 아이디를 입력해주세요."
              aria-label="회원의 이름이나 아이디를 입력하세요"
            />
            <button
              class="share-submit-btn btn btn-outline-secondary"
              type="button"
            >
              조회
            </button>
          </div>
        </div>
        <!-- 멤버 조회 검색창 끝 -->
        <!-- 구분선 시작 -->
        <div  class="border border-top border-dark"></div>
        <!-- 구분선 끝 -->
        <!-- 회원 수 및 선택 삭제 버튼 시작 -->
        <div class="mt-2 d-flex flex-wrap justify-content-between">
<!--           (' + ${#lists.size(members)} -->
          <p
            class="member-count"
            id="memberCount"
            th:text="|회원 총 ${count}명|"
          >
            회원 총 0명
          </p>
          <div class="position-relaltive">
            <button
              type="button"
              class="mM-delete-btn btn"
              onclick="deleteSelectedMembers()"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="선택하신 회원 명단을 모두 삭제 가능합니다."
            >
              <img
                class="minus-button"
                th:src="@{/images/icons/minus-button.png}"
                alt=""
              />
              선택 삭제
            </button>
          </div>
        </div>
        <!-- 회원 수 및 선택 삭제 버튼 끝 -->
        <!-- 회원 목록 시작 -->
        <table class="member-table table table-bordered">
          <thead class="member-thead">
            <tr class="tr text-center">
              <th scope="col"></th>
              <!-- 체크박스 -->
              <th scope="col">번호</th>
              <th scope="col">아이디</th>
              <th scope="col">이름</th>
              <th scope="col">이메일</th>
              <th scope="col">연락처</th>
              <th scope="col">가입일</th>
              <th scope="col">회원상세조회</th>
            </tr>
          </thead>
          <tbody>
            <!-- 회원 목록 반복 -->
            <tr class="text-center" th:each="member, status:${ list }">
              <!-- 체크박스 -->
              <td>
                <input type="checkbox" th:id="'checkbox_' + ${member.memberId}" class="delete-checkbox" />
              </td>
              <!-- 아이디, 이름, 이메일, 연락처, 가입일 -->
              <td><span th:text="${status.count}"></span></td>
              <td><span  th:text="${member.memberId}"></span></td>
              <td><span th:text="${member.memberName}"></span></td>
              <td><span th:text="${member.memberEmail}"></span></td>
              <td><span  th:text="${member.memberPhone}"></span></td>
              <td><span  th:text="${member.memberJoinDate}"></span></td>
              <!-- 회원상세조회 버튼 -->
              <td>
                <button class="member-detail-btn">
                  <a
                    th:href="@{/member/details/{id}(id=${member.memberId})}"
                    class="p-0 member-detail"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="클릭하시면 상세조회 페이지로 이동합니다."
                    >상세조회</a
                  >
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 회원 목록 끝 -->
    <!--  사용자 정의 JS -->
      <script layout:fragment="script">
        function deleteSelectedMembers() {
    const checkboxes = document.querySelectorAll('.delete-checkbox:checked');
    const memberIds = Array.from(checkboxes).map(checkbox => checkbox.id.replace('checkbox_', ''));

    if (memberIds.length === 0) {
      alert('삭제할 항목을 선택하세요.');
      return;
    }

    const result = confirm('선택한 항목을 삭제할까요?');
    if (!result) {
      return;
    }

    const params = { memberIds: memberIds };

    fetch('/deleteSelectedMembers', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(params),
    })
      .then(response => response.json())
      .then(json => {
        // 삭제 후의 동작을 수행하거나 페이지를 새로고침할 수 있습니다.
        window.location.reload(); // 예시로 페이지를 다시 로드하는 방법입니다.
      })
      .catch(error => {
        console.error('Error deleting members:', error);
      });
  }
      </script>
  </body>
</html>
