<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 관리</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_admin.css"
    />
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <!-- 회원 상세 정보 조회 시작 -->
      <div class="md">
        <div class="mt-2">
          <p class="fs-2 text-center title">회원 정보 상세 조회</p>
        </div>
        <div class="d-flex flew-wrap justify-content-center p-3">
          <table
            class="member-detail-table table w-75 table-bordered border-outline-white"
          >
            <thead>
              <tr>
                <th><span>·</span><span>아이디</span></th>
                <td th:text="${member.member_id}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>이름</span></th>
                <td th:text="${member.name}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>생년월일</span></th>
                <td th:text="${member.birthdate}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>이메일</span></th>
                <td th:text="${member.email}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>연락처</span></th>
                <td th:text="${member.contact}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>비밀번호</span></th>
                <td th:text="${member.password}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>비밀번호 찾기 질문</span></th>
                <td th:text="${member.securityQuestion}"></td>
              </tr>
              <tr>
                <th><span>·</span><span>보유 스탬프</span></th>
                <td th:text="${member.stampCount}"></td>
              </tr>
            </thead>
          </table>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-warning text-white md-submit">
            확인 완료
          </button>
        </div>
      </div>
      <!-- 회원 상세 정보 조회 끝 -->
    </div>
    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <!--  사용자 정의 JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/admin.js"></script>
  </body>
</html>
