<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품관리</title>
  </head>
  <body class="megamega">
    <div layout:fragment="contents" class="border p-2">
      <!-- 카테고리 조회 시작-->
      <div class="container">
        <div class="row">
          <select
            class="form-select w-25 d-inline-block"
            aria-label="Default select example"
            style="height: 29%"
            id="searchOption"
          >
            <option selected>조회 옵션</option>
            <option value="1">신메뉴</option>
            <option value="2">커피</option>
            <option value="3">티</option>
            <option value="4">에이드&스무디</option>
            <option value="5">전체</option>
          </select>
          <div class="input-group mb-3 h-25" style="width: 75%">
            <input
              type="text"
              class="form-control"
              placeholder="상품명이나 상품 코드를 입력하세요."
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              id="searchValue"
            />
            <button
              class="btn btn-outline-secondary search"
              type="button"
              id="button-addon2"
              onclick="searchItemAction();"
            >
              검색
            </button>
          </div>
        </div>
        <hr style="margin-top: 0px; margin-bottom: 0px" />
        <!-- 카테고리 조회 입력창 끝  -->

        <br />

        <!--전체삭제 / 상품 등록 버튼 시작 -->
        <div class="d-flex justify-content-between">
          <label class="col-form-label fw-bold">상품 0건</label>
          <div class="productButton">
            <button
              type="button"
              class="btn btn-light product-add"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="신규 상품을 등록할 수 있습니다."
            >
              <img
                class="add-button"
                th:src="@{/images/icons/add.png}"
                alt="add_icon"
              />
              상품 신규등록
            </button>
            <button
              type="button"
              class="btn btn-light"
              onclick="deleteItems()"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="선택한 항목을 모두 삭제합니다"
            >
              <img
                class="minus-button"
                th:src="@{/images/icons/minus-button.png}"
                alt=""
              />
              선택항목 삭제
            </button>
          </div>
        </div>
        <!-- 전체삭제 / 상품 등록 버튼 끝 -->
        <!-- 상품목록 시작 -->
        <table class="table product-table">
          <thead>
            <tr>
              <th scope="col" class="title">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="selectAll"
                />
              </th>
              <th scope="col" class="title">카테고리</th>
              <th scope="col" class="title">상품코드</th>
              <th scope="col" class="title">상품명</th>
              <th scope="col" class="title">판매가</th>
              <th scope="col" class="title">상품 등록일</th>
              <th scope="col" class="title">상품상세조회</th>
            </tr>
          </thead>
          <tbody>
            <!-- 아이템 목록을 렌더링 -->
            <tr th:each="item : ${items}">
              <td>
                <input
                  type="checkbox"
                  th:id="'checkbox_' + ${item.itemName}"
                  class="delete-checkbox"
                />
              </td>
              <td th:text="${item.itemCate}"></td>
              <td th:text="${item.itemCode}"></td>
              <td th:text="${item.itemName}"></td>
              <td th:text="${item.itemPrice}"></td>
              <td th:text="${item.itemUpdateDatetime}"></td>
              <td>
                <button
                  type="button"
                  class="detailCheck-btn detailCheck"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="상품의 정보를 상세 조회 합니다."
                >
                  상세조회
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 상품목록 끝 -->
      </div>
    </div>

    <script layout:fragment="script">
      // 상세조회 페이지로 이동
      $(document).ready(function () {
        $(".detailCheck").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_details";
        });
      });

      // 상품등록 페이지로 이동 js
      $(document).ready(function () {
        $(".product-add").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_details_registered";
        });
      });

      //최상단 체크박스 클릭시 모두 선택 스크립트

      //선택한 항목 삭제 기능 구현
      function deleteItems() {
        const checkboxes = document.querySelectorAll(
          ".delete-checkbox:checked"
        );
        console.log(checkboxes);
        const itemNames = Array.from(checkboxes).map((checkbox) =>
          checkbox.id.replace("checkbox_", "")
        );

        console.log("itemnames:" + itemNames);

        if (itemNames.length === 0) {
          alert("삭제할 항목을 선택하세요.");
          return;
        }

        const result = confirm("선택한 항목을 삭제할까요?");
        if (!result) {
          console.log("삭제가 안돼");
          return;
        }

        const params = { itemNames: itemNames };

        fetch("/admin/product/deleteItems", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            window.location.reload();
          })
          .catch((error) => {
            console.error("Error deleting products:", error);
          });
      }

      // 검색기능
      // 회원 조회
      function searchItemAction() {
        // 검색 옵션 및 검색값 가져오기
        const searchOption = document.getElementById("searchOption").value;
        const searchValue = document.getElementById("searchValue").value;

        // 파라미터 보내기
        const params = { searchOption, searchValue };

        fetch("/admin/product/search", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            updateTable(data); // 테이블 업데이트
          })
          .catch((error) => {
            console.error("상품 검색 실페:", error);
          });
      }

      // 데이터로 테이블 업데이트하는 함수
      function updateTable(data) {
        const tableBody = document.querySelector("tbody"); // 테이블의 tbody 가져오기

        // 테이블 초기화
        tableBody.innerHTML = "";

        // 받아온 데이터로 테이블 업데이트
        data.forEach((item) => {
          const row = document.createElement("tr"); // 새로운 테이블 행 생성

          // 각 항목에 대한 열 추가
          const checkboxCell = document.createElement("td");
          const categoryNameCell = document.createElement("td");
          const itemCodeCell = document.createElement("td");
          const itemNameCell = document.createElement("td");
          const itemPriceCell = document.createElement("td");
          const updateDateCell = document.createElement("td");
          const detailButtonCell = document.createElement("td");

          // 체크박스 열 추가
          const checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.id = `checkbox_${item.itemName}`;
          checkbox.className = "delete-checkbox";
          checkboxCell.appendChild(checkbox);

          // 각 열에 데이터 할당
          categoryNameCell.textContent = item.itemCate;
          itemCodeCell.textContent = item.itemCode;
          itemNameCell.textContent = item.itemName;
          itemPriceCell.textContent = item.itemPrice;
          updateDateCell.textContent = item.itemUpdateDatetime;

          // "상세조회" 버튼 열 추가
          const detailButton = document.createElement("button");
          detailButton.type = "button";
          detailButton.className = "detailCheck-btn detailCheck";
          detailButton.dataset.bsToggle = "tooltip";
          detailButton.dataset.bsPlacement = "top";
          detailButton.dataset.bsCustomClass = "custom-tooltip";
          detailButton.dataset.bsTitle = "상품의 정보를 상세 조회합니다.";
          detailButton.textContent = "상세조회";
          detailButtonCell.appendChild(detailButton);

          // 각 열을 행에 추가
          row.appendChild(checkboxCell);
          row.appendChild(categoryNameCell);
          row.appendChild(itemCodeCell);
          row.appendChild(itemNameCell);
          row.appendChild(itemPriceCell);
          row.appendChild(updateDateCell);
          row.appendChild(detailButtonCell);

          // 테이블에 행 추가
          tableBody.appendChild(row);
        });
      }
    </script>
  </body>
</html>
