<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품관리</title>
  </head>
  <body class="megamega">
    <div layout:fragment="contents" class="border p-2">
      <!-- 카테고리 조회 시작-->
      <div class="container">
        <div class="row">
          <select
            class="form-select w-25 d-inline-block"
            aria-label="Default select example"
            style="height: 29%"
          >
            <option value="1">신메뉴</option>
            <option value="2">커피</option>
            <option value="3">티</option>
            <option value="4">에이드&스무디</option>
          </select>
          <div class="input-group mb-3 h-25" style="width: 75%">
            <input
              type="text"
              class="form-control"
              placeholder="상품명이나 상품 코드를 입력하세요."
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary search"
              type="button"
              id="button-addon2"
            >
              검색
            </button>
          </div>
        </div>
        <hr style="margin-top: 0px; margin-bottom: 0px" />
        <!-- 카테고리 조회 입력창 끝  -->

        <br />

        <!--전체삭제 / 상품 등록 버튼 시작 -->
        <div class="d-flex justify-content-between">
          <label class="col-form-label fw-bold">상품 0건</label>
          <div class="productButton">
            <button
              type="button"
              class="btn btn-light product-add"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="신규 상품을 등록할 수 있습니다."
            >
              <img
                class="add-button"
                th:src="@{/images/icons/add.png}"
                alt="add_icon"
              />
              상품 신규등록
            </button>
            <button
              type="button"
              class="btn btn-light"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="선택한 항목을 모두 삭제합니다"
            >
              <img
                class="minus-button"
                th:src="@{/images/icons/minus-button.png}"
                alt="minus_icon"
              />
              선택항목 삭제
            </button>
          </div>
        </div>
        <!-- 전체삭제 / 상품 등록 버튼 끝 -->
        <!-- 상품목록 시작 -->
        <table class="table product-table">
          <thead>
            <tr>
              <th scope="col" class="title">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault1"
                />
              </th>
              <th scope="col" class="title">카테고리</th>
              <th scope="col" class="title">상품코드</th>
              <th scope="col" class="title">상품명</th>
              <th scope="col" class="title">판매가</th>
              <th scope="col" class="title">상품 등록일</th>
              <th scope="col" class="title">상품상세조회</th>
            </tr>
          </thead>
          <tbody>
            <!-- 아이템 목록을 렌더링 -->
            <tr th:each="item : ${items}">
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault2"
                />
              </td>
              <td th:text="${item.itemCate}"></td>
              <td th:text="${item.itemCode}"></td>
              <td th:text="${item.itemName}"></td>
              <td th:text="${item.itemPrice}"></td>
              <td th:text="${item.itemUpdateDatetime}"></td>
              <td>
                <button
                  type="button"
                  class="detailCheck-btn detailCheck"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="상품의 정보를 상세 조회 합니다."
                >
                  상세조회
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 상품목록 끝 -->
      </div>
    </div>

    <script layout:fragment="script">
      // 부트스트랩 툴팁 js
      const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
      );
      const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
      );

      // 상세조회 페이지로 이동
      $(document).ready(function () {
        $(".detailCheck").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_details";
        });
      });

      // 상품등록 페이지로 이동
      $(document).ready(function () {
        $(".product-add").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_details_registered";
        });
      });
    </script>
  </body>
</html>
