<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 수정</title>
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <!-- 상품 관리 시작 -->
      <div class="border p-2">
        <div class="container mt-3">
          <div class="d-flex align-items-center justify-content-end">
            <h2 class="top fw-bold d-flex editTitle">상품 수정</h2>
            <div class="registered text-end">
              <!-- 신메뉴/추천메뉴 체크박스 시작 -->
              <span class="text-end registeredCheckbox">
                <span class="fs-6">신메뉴&nbsp;<input type="checkbox" /></span>
                <span class="fs-6">
                  추천메뉴&nbsp;<input type="checkbox" />
                </span>
              </span>
            </div>
          </div>
          <!-- 테이블 -->
          <div class="row m-0">
            <table class="table col product-table table-bordered mb-0">
              <!-- 신메뉴/추천메뉴 체크박스 끝 -->
              <!-- 카테고리 / 상품명 -->
              <thead>
                <tr class="topTable">
                  <th scope="col" class="title text-center">카테고리</th>
                  <th scope="col" class="title text-center">상품명</th>
                  <th class="text-center title" scope="col">상품 가격</th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle">
                  <td
                    class="d-flex justify-content-center flex-wrap align-items-center"
                  >
                    <div class="input-group w-50">
                      <select class="form-select" id="inputGroupSelect01">
                        <option value="1">신메뉴</option>
                        <option value="2">커피</option>
                        <option value="3">티</option>
                        <option value="4">에이드&스무디</option>
                      </select>
                    </div>
                  </td>
                  <td class="topTable text-center">아메리카노</td>
                  <td class="text-center">
                    <input type="text" name="productPrice1" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 상품 이미지 / 상품 설명 -->
          <div class="row m-0">
            <table class="table product-table table-bordered">
              <thead>
                <tr>
                  <th class="text-center title" scope="col">상품 이미지</th>
                  <th class="text-center title" scope="col">상품 설명</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="upload-box">
                      <div id="drop-file" class="drag-file">
                        <img
                          src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                          alt="파일 아이콘"
                          class="image"
                        />
                        <p class="message">Drag files to upload</p>
                        <img src="" alt="미리보기 이미지" class="preview" />
                      </div>
                      <label class="file-label" for="chooseFile"
                        >파일 선택</label
                      >
                      <input
                        class="file"
                        id="chooseFile"
                        type="file"
                        onchange="dropFile.handleFiles(this.files)"
                        accept="image/png, image/jpeg, image/gif"
                      />
                    </div>
                  </td>

                  <td>
                    <textarea
                      class="w-100 h-100"
                      name="productUpdate"
                      id=""
                      cols="18"
                      rows="19"
                    ></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 상품 등록/수정 버튼 -->
        <div class="d-flex registered">
          <span class="text-end registeredBtnUpdate">
            <button type="button" class="btn btn-warning text-white">
              상품 수정
            </button>
          </span>
        </div>
      </div>
    </div>
    <!-- 상품 등록/수정 버튼 끝-->

    <!-- 이미지 업로드 js 시작 -->
    <script layout:fragment="script">
      function DropFile(dropAreaId, fileListId) {
        let dropArea = document.getElementById(dropAreaId);
        let fileList = document.getElementById(fileListId);

        function preventDefaults(e) {
          e.preventDefault();
          e.stopPropagation();
        }

        function highlight(e) {
          preventDefaults(e);
          dropArea.classList.add("highlight");
        }

        function unhighlight(e) {
          preventDefaults(e);
          dropArea.classList.remove("highlight");
        }

        function handleDrop(e) {
          unhighlight(e);
          let dt = e.dataTransfer;
          let files = dt.files;

          handleFiles(files);

          const fileList = document.getElementById(fileListId);
          if (fileList) {
            fileList.scrollTo({ top: fileList.scrollHeight });
          }
        }

        function handleFiles(files) {
          files = [...files];
          // files.forEach(uploadFile);
          files.forEach(previewFile);
        }

        function previewFile(file) {
          console.log(file);
          renderFile(file);
        }

        function renderFile(file) {
          let reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = function () {
            let img = dropArea.getElementsByClassName("preview")[0];
            img.src = reader.result;
            img.style.display = "block";
          };
        }

        dropArea.addEventListener("dragenter", highlight, false);
        dropArea.addEventListener("dragover", highlight, false);
        dropArea.addEventListener("dragleave", unhighlight, false);
        dropArea.addEventListener("drop", handleDrop, false);

        return {
          handleFiles,
        };
      }

      const dropFile = new DropFile("drop-file", "files");

      //상품 수정 버튼 클릭시 상품 관리 페이지로 이동.
      $(document).ready(function () {
        $(".registeredBtnUpdate").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_details";
        });
      });
    </script>
    <!-- 이미지 업로드 js 끝 -->
  </body>
</html>
