<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 등록</title>
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <div class="border p-2">
        <div class="container mt-3">
          <!-- 상품등록 타이틀/신메뉴/추천메뉴 체크박스 시작 -->
          <div class="d-flex align-items-center justify-content-end">
            <h2 class="top fw-bold d-flex editTitle">상품 등록</h2>
            <div class="registered text-end">
              <span class="text-end registeredCheckbox">
                <span class="fs-6" id="itemNewMenu">
                  신메뉴&nbsp;<input type="checkbox" />
                </span>
                <span class="fs-6" id="itemRecommended">
                  추천메뉴&nbsp;<input type="checkbox" />
                </span>
              </span>
            </div>
          </div>
          <!-- 신메뉴/추천메뉴 체크박스 끝 -->

          <!-- 테이블 시작 -->
          <div class="row m-0">
            <table class="table col product-table table-bordered mb-0">
              <thead>
                <tr class="topTable">
                  <th scope="col" class="title text-center" id="category">
                    카테고리
                  </th>
                  <th scope="col" class="title text-center" id="itemName">
                    상품명
                  </th>
                  <th scope="col" class="title text-center" id="itemPrice">
                    상품 가격
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle">
                  <td
                    class="d-flex justify-content-center flex-wrap align-items-center"
                  >
                      <!--카테고리-->
                    <div class="input-group w-50">
                      <select class="form-select" id="inputCategory" th:value="${item.itemCate}">
                        <option value="1">신메뉴</option>
                        <option value="2">커피</option>
                        <option value="3">티</option>
                        <option value="4">에이드&스무디</option>
                      </select>
                    </div>
                  </td>
                  <!--상품명-->
                  <td class="topTable text-center">
                    <input type="text" id="inputItemName" name="productName" th:value="${item.itemName}" />
                  </td>
                  <!--상품 가격-->
                  <td class="text-center">
                    <input
                      type="text"
                      id="inputItemPrice"
                      name="productPrice1"
                      th:value="${item.itemPrice}"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 테이블 끝 -->

          <!-- 상품 이미지 / 상품 설명 시작 -->
          <div class="row m-0">
            <table class="table product-table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center title" id="itemImage">
                    상품 이미지
                  </th>
                  <th scope="col" class="text-center title" id="itemExplan">
                    상품 설명
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="upload-box">
                      <div id="drop-file" class="drag-file">
                        <img
                          src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                          alt="파일 아이콘"
                          class="admin_item_img" id="imgItemImageUrl" th:src="${item.itemImageUrl}"
                        />
                        <p class="message">Drag files to upload</p>
                        <img src="" alt="미리보기 이미지" class="preview" />
                      </div>
                      <label class="file-label" for="chooseFile"
                        >파일 선택</label
                      >
                      <input
                        class="file"
                        id="chooseFile"
                        type="file"
                        onchange="dropFile.handleFiles(this.files)"
                        accept="image/png, image/jpeg, image/gif"
                      />
                    </div>
                  </td>
                  <!--상품 설명-->
                  <td>
                    <textarea
                      class="w-100 h-100"
                      name="productUpdate"
                      id="inputItemExplanation"
                      th:value="${item.itemRecommend}"
                      cols="18"
                      rows="19"
                    ></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 상품 이미지 / 상품 설명 끝 -->

        <!-- 상품 등록/수정 버튼 시작-->
        <div class="d-flex registered">
            <span class="text-end registeredBtn product-registeredBtn">
              <button
                type="button"
                class="btn btn-warning text-white"
                onclick="submitForm()"
              >
                상품 등록
              </button>
            </span>
        </div>
      </div>
    </div>
    <!-- 상품 등록/수정 버튼 끝-->

    <script layout:fragment="script">
      //이미지 업로드 js 시작
      function DropFile(dropAreaId, fileListId) {
        let dropArea = document.getElementById(dropAreaId);
        let fileList = document.getElementById(fileListId);

        function preventDefaults(e) {
          e.preventDefault();
          e.stopPropagation();
        }

        function highlight(e) {
          preventDefaults(e);
          dropArea.classList.add("highlight");
        }

        function unhighlight(e) {
          preventDefaults(e);
          dropArea.classList.remove("highlight");
        }

        function handleDrop(e) {
          unhighlight(e);
          let dt = e.dataTransfer;
          let files = dt.files;

          handleFiles(files);

          const fileList = document.getElementById(fileListId);
          if (fileList) {
            fileList.scrollTo({ top: fileList.scrollHeight });
          }
        }

        function handleFiles(files) {
          files = [...files];
          // files.forEach(uploadFile);
          files.forEach(previewFile);
        }

        function previewFile(file) {
          console.log(file);
          renderFile(file);
        }

        function renderFile(file) {
          let reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = function () {
            let img = dropArea.getElementsByClassName("preview")[0];
            img.src = reader.result;
            img.style.display = "block";
          };
        }

        dropArea.addEventListener("dragenter", highlight, false);
        dropArea.addEventListener("dragover", highlight, false);
        dropArea.addEventListener("dragleave", unhighlight, false);
        dropArea.addEventListener("drop", handleDrop, false);

        return {
          handleFiles,
        };
      }

      const dropFile = new DropFile("drop-file", "files");
      //이미지 업로드 js 끝

      // 상품등록 버튼 클릭시 상품관리 페이지로 이동 js
      $(document).ready(function () {
        $(".btn").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/admin/product_management";
        });
      });

      // ---------이미지 및 상품 업로드 시작-----------



    </script>
  </body>
</html>
