<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layouts/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 상세 정보</title>
  </head>
  <body>
    <div layout:fragment="contents" class="border p-2">
      <!-- 상품 관리 시작 -->
      <div class="border p-2">
        <div class="container mt-3">
          <div class="d-flex align-items-center justify-content-end">
            <h2 class="top fw-bold d-flex editTitle">상품 상세 정보</h2>
            <div class="registered text-end">
              <!-- 신메뉴/추천메뉴 체크박스 시작 -->
              <span class="text-end registeredCheckbox">
                <span class="fs-6"
                  >신메뉴&nbsp;<input
                    type="checkbox"
                    th:checked="${item.itemNew == 1}"
                /></span>
                <span class="fs-6"
                  >추천메뉴&nbsp;<input
                    type="checkbox"
                    th:checked="${item.itemRecommend == 1}"
                /></span>
              </span>
            </div>
          </div>
          <!-- 테이블 -->
          <div class="row m-0">
            <table class="table col product-table table-bordered mb-0">
              <!-- 신메뉴/추천메뉴 체크박스 끝 -->
              <!-- 카테고리 / 상품명 -->
              <thead>
                <tr class="topTable">
                  <th scope="col" class="title text-center">카테고리</th>
                  <th scope="col" class="title text-center">상품명</th>
                  <th class="text-center title" scope="col">상품 가격</th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle">
                  <!-- 상품카테고리 -->
                  <td
                    class="d-flex justify-content-center flex-wrap align-items-center"
                    th:text="${item.itemCate}"
                  ></td>
                  <!-- 상품이름 -->
                  <td
                    class="topTable text-center"
                    th:text="${item.itemName}"
                  ></td>
                  <!-- 상품가격 -->
                  <td class="text-center" th:text="${item.itemPrice}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 상품 이미지 / 상품 설명 -->
          <div class="row m-0">
            <table class="table product-table table-bordered">
              <thead>
                <tr>
                  <th class="text-center title" scope="col">상품 이미지</th>
                  <th class="text-center title" scope="col">상품 설명</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="upload-box">
                      <img
                        th:src="@{'/static/upload/' + ${item.itemImageUrl}}"
                        alt="Item Image"
                      />
                    </div>
                  </td>

                  <td
                    class="text-center"
                    th:text="${item.itemExplanation}"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 상품 등록/수정 버튼 -->
        <div class="d-flex registered">
          <span class="text-end registeredBtn">
            <button
              type="button"
              class="btn btn-warning text-white"
              onclick="confirmDetails()"
            >
              확인 완료
            </button>
          </span>

          <span class="text-end registeredCheckbox">
            <a th:href="@{/admin/item/update/{name}(name=${item.itemName})}">
              <button
                type="button"
                class="btn btn-warning text-white"
                id="itemEdit"
              >
                상품 수정하기
              </button>
            </a>
          </span>
        </div>
      </div>
    </div>

    <script layout:fragment="script">
      // 확인 완료 버튼 - 이동 구현
      function confirmDetails() {
        alert("상품 확인이 완료되었습니다!");
        window.location.href = "/admin/product_management";
      }
    </script>
  </body>
</html>
