<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 상세정보</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_admin.css"
    />
  </head>
  <body>
    <div layout:fragment="admin_layout" class="container-fluid">
      <div class="container">
        <table class="table">
          <!-- 상단 테이블 -->
          <thead>
            <tr>
              <th scope="col">상품코드</th>
              <th scope="col">카테고리</th>
              <th scope="col">상품 등록일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>C1</td>
              <td>커피</td>
              <td>2023-11-08</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <!-- 중단 테이블 -->
          <thead>
            <tr>
              <th scope="col">상품명</th>
              <th scope="col">상품가격</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>아메리카노</td>
              <td>3,000</td>
            </tr>
          </tbody>
        </table>
        <!-- 하단 테이블 -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">상품 이미지</th>
              <th scope="col">상품설명</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="coffeImg">
                <img src="" alt="coffee" />
              </td>
              <td>상품 설명입니다.</td>
            </tr>
          </tbody>
        </table>
        <!-- 수정 버튼 -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-warning">수 정</button>
        </div>
      </div>
    </div>

    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
