<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 신규등록</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_admin.css"
    />
  </head>
  <body>
    <div layout:fragment="admin_layout" class="container-fluid">
      <div class="container">
        <table class="table">
          <h2 class="top">상품 등록</h2>
          <!-- 상단 테이블 -->
          <thead>
            <tr class="topTable">
              <th scope="col">카테고리</th>
              <th scope="col">상품명</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="input-group mb-3 w-50">
                  <select class="form-select" id="inputGroupSelect01">
                    <option value="1">신메뉴</option>
                    <option value="2">커피</option>
                    <option value="3">티</option>
                    <option value="4">에이드&스무디</option>
                  </select>
                </div>
              </td>
              <td class="topTable">아메리카노</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
         
        <!-- 하단 테이블 -->
        <div>
          <table class="table">
            <thead>
              <tr>
                <th class="botTable" scope="col">상품 이미지</th>
                <th class="botTable" scope="col">상품설명</th>
                
              </tr>
            </thead>
            <!-- 드래그 앤 드롭 시작 -->
            <tbody>
              <tr>
                <td>
                  <div class="upload-box">
                    <div id="drop-file" class="drag-file">
                      <img
                        src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                        alt="파일 아이콘"
                        class="image"
                      />
                      <p class="message">Drag files to upload</p>
                      <img src="" alt="미리보기 이미지" class="preview" />
                    </div>
                    <label class="file-label" for="chooseFile">파일 선택</label>
                    <input
                      class="file"
                      id="chooseFile"
                      type="file"
                      onchange="dropFile.handleFiles(this.files)"
                      accept="image/png, image/jpeg, image/gif"
                    />
                  </div>
                </td>
                <!-- 드래그 앤 드롭 시작 -->
                <td>
                  <textarea
                    name="productUpdate"
                    id=""
                    cols="18"
                    rows="10"
                  ></textarea>
                </td>
              </tr>
            </tbody>
                 <!-- 옆에 붙일 테이블 단위 시작 -->
                  <thead>
                    <tr>
                      <th class="rightTable" scope="col">상품 가격</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="text" name="productPrice1"></td>
                    </tr>
                    <tr>
                      <th class="rightTable" style="background-color: rgb(190, 190, 7)" scope="col">상품 등록일</th>
                    </tr>
                    <td><input type="text" name="registrationDate2"></td>
                  </tbody>
                  <!-- 옆에 붙일 테이블 단위 끝 -->
                    
                 <!-- 신메뉴/추천메뉴 체크박스 시작 -->
                    <tr>
                      <td class="rightTable" style="background-color: rgb(190, 190, 7)">신메뉴</td>
                      <td style="text-align: center;"><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td class="rightTable" style="background-color: rgb(190, 190, 7)">추천메뉴</td>
                      <td style="text-align: center;"><input type="checkbox"></td>
                    </tr>
                  <!-- 신메뉴/추천메뉴 체크박스 끝 -->


            </table>
        </div>
        <!-- 상품 등록 버튼 -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-warning">상품 등록</button>
        </div>
        <!-- 상품 등록 버튼 끝-->
      </div>
    </div>

    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>

    <!-- 이미지 업로드 js 시작 -->
    <script>
      function DropFile(dropAreaId, fileListId) {
        let dropArea = document.getElementById(dropAreaId);
        let fileList = document.getElementById(fileListId);

        function preventDefaults(e) {
          e.preventDefault();
          e.stopPropagation();
        }

        function highlight(e) {
          preventDefaults(e);
          dropArea.classList.add("highlight");
        }

        function unhighlight(e) {
          preventDefaults(e);
          dropArea.classList.remove("highlight");
        }

        function handleDrop(e) {
          unhighlight(e);
          let dt = e.dataTransfer;
          let files = dt.files;

          handleFiles(files);

          const fileList = document.getElementById(fileListId);
          if (fileList) {
            fileList.scrollTo({ top: fileList.scrollHeight });
          }
        }

        function handleFiles(files) {
          files = [...files];
          // files.forEach(uploadFile);
          files.forEach(previewFile);
        }

        function previewFile(file) {
          console.log(file);
          renderFile(file);
        }

        function renderFile(file) {
          let reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onloadend = function () {
            let img = dropArea.getElementsByClassName("preview")[0];
            img.src = reader.result;
            img.style.display = "block";
          };
        }

        dropArea.addEventListener("dragenter", highlight, false);
        dropArea.addEventListener("dragover", highlight, false);
        dropArea.addEventListener("dragleave", unhighlight, false);
        dropArea.addEventListener("drop", handleDrop, false);

        return {
          handleFiles,
        };
      }

      const dropFile = new DropFile("drop-file", "files");
    </script>
    <!-- 이미지 업로드 js 끝 -->
  </body>
</html>
