/* 공통 css 시작 */

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumSquareNeo-Variable";
}

a {
  /* 글자 밑줄 제거 */
  text-decoration: none;
}

/* 공통 css 끝 */

/* ------ store_choice.html 시작------ */

/* 선택시 밑줄 및 볼드 처리 시작 */
.storeListMenu div {
  color: grey;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* 투명한 밑줄 추가 */

  &:hover {
    color: black;
    border-bottom-color: black;
    font-weight: bold;
  }
}
.storeListMenu-btn1.active,
.storeListMenu-btn2.active,
.storeListMenu-btn3.active {
  color: black;
  border-bottom-color: black;
}
/* 선택시 밑줄 및 볼드 처리 끝 */

/* 하이라이트 반만 긋기 시작  */
.highlighte {
  background: linear-gradient(to top, yellow 50%, transparent 50%);
}
/* 하이라이트 반만 긋기 끝  */

/* 즐겨찾기 버튼 시작*/
.storeImg {
  position: relative;
}

.starimgStar {
  position: absolute;
  top: 110px;
  left: 110px;
}
/* 즐겨찾기 버튼 끝*/

/* ------ store_choice.html 끝 ------ */

/* ------ menu_choice.html 시작 ------ */

.menuBtn {
  border-color: rgb(82, 82, 82);
  padding: 0 47px;
}

/* ------- menu_choice.html 끝-------- */

.header {
  position: relative;
}

.searchBox {
  position: relative;
}

/* 입력 요소(form-control)의 밑줄 스타일 및 색상 변경 */
.form-control {
  border: none;
  border-bottom: 2px solid #64696e;
  border-radius: 1px;
}
/* form-control 클래스의 box-shadow 제거 */
.form-control:focus {
  box-shadow: none;
}

.moreBox {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: #f8fafc;
  box-sizing: border-box;
  height: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: #464b50;
}

/* ------- menu_choice.html 끝-------- */

/* ------- yurim CSS 로그인 및 회원가입 등 ------- */
/* 로그인 폼 시작 */
/* 로고 박스 */
.logoBox {
  /* 높이 지정 */
  height: 55vh;
}

/* 빈 박스 */
.emptyBox {
  height: 5vh;
}

/* 입력 박스 외부 */
.formBox {
  height: 5vh;
}
/* 입력 박스 내부 */
.inputBox {
  /* 크기 지정 */
  width: 35vh;
  height: 5vh;
  /* 테두리 설정 */
  border-radius: 15px;
  border: 1px solid rgb(209, 209, 209);
  /* 폰트 설정 */
  color: rgb(82, 82, 82);
}
/* 전송 박스 */
.submitBox {
  /* 크기 지정 */
  width: 35vh;
  height: 5vh;
  /* 테두리 설정 */
  border-radius: 15px;
  /* 색상 지정 */
  background-color: rgb(83, 48, 31);
  /* 폰트 설정 */
  color: white;
  font-size: 45px;
}

/* 아이디/비밀번호 찾기 */
.findBox {
  margin-top: 0.3vh;
  padding: 0 5vh 0 26vh;
  height: 8vh;
}

/* 회원가입 박스 */
.signInBox span:nth-child(1) {
  color: rgb(82, 82, 82);
}
.signInBox span:nth-child(2) {
  color: rgb(5, 5, 5);
}
/* 로그인 폼 끝 */

/* 회원가입 폼 시작 */
/* 회원가입 타이틀 */
.signInTitleBox {
  padding: 0 10vh 0 6vh;
}
.signInTitle {
  font-size: 48px;
}
.labelTxt {
  padding: 0 10vh 0 6vh;
  /* 폰트 설정 */
  font-size: 40px;
  font-weight: bold;
}
.labelTxt button {
  border: 0px;
  background-color: transparent;
  font-weight: bold;
  font-size: 40px;
}
/* 비밀번호 찾기 질문 */
.pwFindBox .form-select {
  width: 35vh;
  padding: 20px 0 20px 30px;
  /* 폰트 설정 */
  color: rgb(100, 100, 100);
}
/* 회원가입 완료 페이지 설정 */
.signInFinishTitleBox {
  padding: 0 5vh 0 6vh;
}
/* 회원가입 폼 끝 */

/* 이용약관 시작 */
/* 체크박스 간격 설정 */
.allCheckBox,
.checkTxtBox {
  margin-top: 1vh;
  padding: 0 10vh 0 6vh;
}
/* 전체 동의 텍스트 */
.allCheck {
  font-size: 45px;
}
/* 이용약관 테두리 */
.touBorder {
  width: 35vh;
  margin-left: 5.5vh;
}
/* 하부 체크박스 텍스트 */
.checkTxt {
  font-size: 33px;
  font-weight: bold;
}
.checkTxt input[type="checkbox"] {
  /* 체크박스 크기 조절 */
  width: 30px;
  height: 30px;
  /* 다른 스타일 규칙 추가 가능 */
}
/* 전체 동의 체크박스 크기 조절 */
.allCheckBox input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.checkTxtBox .checkTxtInBox {
  width: 34vh;
}
/* 부등호 버튼 */
.gTBtn {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
}
.gTBtn:hover {
  color: #ffc017;
}
/* 이용약관 끝 */

/* 데이트 피커 CSS 시작 */
.ui-datepicker {
  font-size: 2.73em;
}
/* 데이트 피커 CSS 끝 */

/* 아이디 및 비밀번호 찾기 시작 */
.findHeader {
  font-size: 40px;
}

/* 아이디 및 비밀번호 찾기 네비바 */
.findNav {
  /* 폰트 설정 */
  font-size: 38px;
  padding-bottom: 1vh;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid rgb(97, 97, 97);
}

.findNav:hover {
  border-bottom: 3px solid black;
}

.findNav a {
  color: #ffc017;
  font-weight: bold;
}

/* 찾은 아이디 및 비밀번호 페이지  관련*/
.findFinishBox {
  margin: 1vh 5.5vh;
  padding: 3vh 3vh 3vh 3vh;
  border-radius: 10px;
  border: 1px solid rgb(97, 97, 97);
  text-align: center;
}
/* 아이디 찾기 완료 박스 */
.findFinishBox span {
  font-size: 50px;
  font-weight: bold;
}
.findFinishBox span:nth-child(1),
.findFinishBox span:nth-child(3) {
  font-size: 60px;
  color: #ffc017;
}
/*  하단 버튼 */
.findBtnBox {
  padding: 0 5.5vh 0 5.5vh;
}
.findBtnBox button:nth-child(1) {
  background-color: rgb(209, 209, 209) !important;
  color: rgb(82, 82, 82);
  margin-right: 1vh;
}
/* 아이디 및 비밀번호 찾기 끝 */

/* 스탬프 시작 */
.stampHeaderBox {
  margin: 0 2vh;
}
.stampHeader {
  font-size: 40px;
}
.stampHeaderBox button {
  background-color: transparent;
  border: none;
}

/* 스탬프 갯수 */
.stampCountBox {
  margin: 1vh 2vh;
}

.stampCountBox p {
  font-size: 50px;
  font-weight: bold;
}
/* 스탬프 적립내역 */
.earnStampBox {
  margin: 2vh;
  height: 50px;
  padding: 0 0.5vh;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 50px;
}
.earnStampBtn {
  font-size: 30px;
  height: 50px;
  /* 버튼 배경 및 테두리 제거 */
  background-color: transparent;
  border: none;
}
.earnStampBox:hover {
  border: 1px solid #ffc017;
}
.earnStampBtn:hover {
  color: #ffc017;
}

/* 스탬프 뷰어 */
.stamp_detail ul {
  width: 85%;
  padding: 20px 20px;
  border-radius: 5%;
  background-color: #ffce21;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 500px;
}

.stamp_detail ul,
.stamp_detail ul li {
  list-style: none;
}

.stamp_detail ul li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  z-index: 2;
}

.emptyStamp {
  width: 80%;
  height: 50%;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.2;
  color: black;
}

.emptyStamp span {
  color: white;
  font-size: 20px;
}
/* 스탬프 끝 */
/* ------- yurim CSS 로그인 및 회원가입 등 ------- */

/* 메인 / 장바구니 / 결제 / 더보기 CSS 시작 */
/* main */
.mainMiddle {
  top: 530px;
  border-radius: 20px;
}
.stemppage {
  background-color: rgba(233, 233, 233, 0.993);
  border-radius: 20px;
}
#twoslide {
  border-radius: 20px;
}
.twoWelcomeText {
  padding-top: 100px;
}
#slideCount {
  text-align: center;
  background-color: rgba(49, 49, 49, 0.651);
  width: 90px;
  height: 40px;
  right: 30px;
  top: 480px;
  border-radius: 20px;
}
.recommendSwiper {
  width: 100%;
}
/* 스와이프 */
.newNews {
  margin-top: 150px;
}

.newsSwipe {
  margin: 20px;
}
.swiperImg {
  width: 100%;
  border-radius: 20px;
}
.empty {
  height: 7vh;
}
/*  orderPage */
.backImg {
  width: 70px;
}
.headerTop {
  background-color: white;

  width: 100%;
  height: 120px;
  top: 0;
  z-index: 1000;
}
.location {
  background-color: black;
  color: white;
  padding: 40px 0 40px 40px;
  margin-top: 120px;
}
.cart-list {
  padding: 40px 40px 40px 40px;
}
.cart-list > img {
  width: 190px;
  height: 190px;
}
.cart-option > p {
  margin: 0;
}
.cart-list-delete {
  width: 60px;
  height: 60px;
}
.num-down > img,
.num-up > img {
  width: 60px;
}

.amount-box,
.amount {
  display: flex;
  justify-content: space-between;
}
.cart-notice {
  height: 150px;
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 0 0 #edf1f3;
}
.var7 {
  color: #464b50;
}

.order-detail-price {
  display: flex;
  justify-content: space-between;
}
.order-detail-btn {
  width: 90%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #462201;
  border-radius: 20px;
}
.more-headerTop {
  color: #9a9b9b;
  margin-bottom: 100px;
}
.headerTop-content {
  color: black;
}
.moreContent {
  color: #565757;
  padding: 5px 0 5px 0;
}
.moreContentAnchor {
  color: black;
  padding: 10px 0 10px 0;
}
.accordion-button:active,
.accordion-button:focus {
  color: black !important;
  box-shadow: none !important;
  background-color: white;
}
.accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button {
  height: 120px;
}
.accordion-button::after {
  width: 60px !important;
  height: 60px !important;
  background-size: 60px;
}
.accordion-content1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.requested {
  margin: 40px;
}
.requestedInput {
  height: 100px;
  border-radius: 20px;
}
.radioBtn {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.radioSelectOption {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.backColor {
  background-color: #eeeeee;
}
.paymentSelect {
  display: flex;
  align-items: center;
  margin: 10px;
}
.selectPrice {
  display: flex;
  justify-content: space-between;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
}
/* 메인 / 장바구니 / 결제 / 더보기 CSS 끝 */
