/* 공통 CSS 시작*/
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumSquareNeo-Variable";
}

a {
  text-decoration: none;
}

/* 공통 헤더 */
.share-container {
  max-width: 1200px;
}
.admin-title {
  color: rgb(82, 82, 82);
}
.share-container .border-dark {
  /* 헤더 - 네비 구분선 색 지정 */
  border-color: rgb(209, 209, 209) !important;
}

/* 공통 네비게이션 탭 */
.share-nav .nav-link {
  /* 기본 배경/글자색 지정 */
  background-color: rgb(209, 209, 209);
  color: rgb(82, 82, 82);
  /* 글자 굵기 지정 */
  font-weight: bold;
  /* 배경 모양 지정 */
  border-radius: 10px 10px 0 0;
}
.share-nav .nav-link:hover,
.share-nav .nav-link:active {
  /* 마우스 올렸을 때의 배경/글자색 지정 */
  background-color: #ffc107;
  color: white;
}

/* 네비게이션 탭 1~3번 */
.share-nav-link {
  /* 간격 생성 */
  margin-inline-end: 10px;
}

/* 회원관리 CSS 시작 ------------------------ */
/* 드롭다운 조회 옵션 창 */
.mM-dropdown .dropdown-toggle {
  /* 조회 옵션 모서리 둥글게 왼쪽만 효과 지정 */
  border-radius: 10px 0 0 10px;
  /* 테두리 색상 지정 */
  border: 1px solid rgb(209, 209, 209);
}
.mM-dropdown .dropdown-toggle:hover {
  background-color: white;
  border: 1px solid #ffc107;
  color: #ffc107;
  /* 글자 굵기 지정 */
  font-weight: bold;
}
/* 조회 버튼 */
.mM-dropdown .share-submit-btn {
  /* 테두리 색상 지정 */
  border: 1px solid rgb(209, 209, 209);
}
.mM-dropdown .share-submit-btn:hover {
  background-color: white;
  border: 1px solid #ffc107;
  color: #ffc107;
  /* 글자 굵기 지정 */
  font-weight: bold;
}
/* 검색 입력 창 */
.mM-dropdown input {
  /* 검색창 모서리 둥글게 효과 제거 */
  border-radius: 0;
}

/* 회원 인원수 */
.member-count {
  /* 글자 색상 변경 및 글자 굵기 지정 */
  color: rgb(82, 82, 82);
  font-weight: bold;
}
/* 선택 삭제 */
/* 아이콘 이미지 */
.minus-button {
  width: 16px;
}
.mM-delete-btn {
  /* 패딩 값 제거 */
  padding: 0;
  /* 글자 색상 변경 및 글자 굵기 지정 */
  color: rgb(82, 82, 82);
  font-weight: bold;
}
.mM-delete-btn:focus,
.mM-delete-btn:active {
  border: 1px solid #ffc107;
}

/* 회원 테이블 */
.member-table .member-thead {
  /* 배경색 및 글자색 지정 */
  background-color: #ffc107;
  color: white;
}
/* 상세 조회 */
.member-detail-btn {
  /* 크기 지정 */
  width: 100px;
  background-color: rgb(126, 49, 14);
  border: 2px solid #ffc107;
  box-shadow: 0px 0px 3px 1px #ffc107;
  border-radius: 10px;
}
.member-detail {
  /* 글자 색상 변경 및 글자 굵기 지정 */
  color: #ffc107;
  font-weight: bold;
}
.member-detail:hover {
  /* 글자 색 지정 */
  color: #ffc107;
}

/* 회원 상세 정보 조회 CSS 시작 */
.md .title {
  /* 글자 색상 변경 및 글자 굵기 지정 */
  color: #ffc107;
  font-weight: bold;
}

/* 회원 상세 정보 테이블 */
.member-detail-table th {
  /* 배경색 및 글자색 지정 */
  background-color: #ffc107;
  color: white;
  /* 플렉스 설정 */
  display: flex;
  flex-wrap: wrap;
}
.member-detail-table td {
  /* 크기 지정 */
  width: 50%;
}
/* 테이블 th 1번째 span 태그 */
.member-detail-table span:nth-child(1) {
  /* 가로 값 지정을 위한 디스플레이 설정 및 가로 값 지정 */
  display: block;
  width: 40%;
}

/* 회원관리 CSS 끝 ------------------------ */

/* 상품관리 CSS 시작 ------------------------ */
/* 메가메가 바디 클래스 */
.megamega {
  margin-top: 3%;
}

.top {
  color: #ffc107;
  text-align: center;
  font-size: 35px;
}

/* 검색창 */
.search {
  border: 1px solid rgb(209, 209, 209);
}

.search:hover {
  border: 1px solid #ffc107;
  background-color: white;
  color: #ffc107;
  font-weight: bold;
}

/* 테이블 상단 색 지정 */
.product-table .title {
  background-color: #ffc107;
  color: white;
}

/* 상세 조회 */
.detailCheck-btn {
  /* 크기 지정 */
  width: 100px;
  background-color: rgb(126, 49, 14);
  border: 2px solid #ffc107;
  box-shadow: 0px 0px 3px 1px #ffc107;
  border-radius: 10px;
}
.detailCheck {
  /* 글자 색상 변경 및 글자 굵기 지정 */
  color: #ffc107;
  font-weight: bold;
}
.detailCheck:hover {
  /* 글자 색 지정 */
  color: #ffc107;
}

/* 테이블 상단 */
/* 테이블 하단 */
.botTable {
  text-align: center;
}

/* managementProduct.html 선택항목 삭제,상품등록 버튼 */
.productButton {
  margin: 10px;
}

/* --------------------------------------------------------- */
/* 드래그 박스 시작 (이미지 삽입) */
.upload-box {
  width: 100%;
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-box .drag-file {
  position: relative;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
}
.upload-box .drag-file.highlight {
  border: 3px dashed red;
}
.upload-box .drag-file .image {
  width: 40px;
}
.upload-box .drag-file .message {
  margin-bottom: 0;
}
.upload-box .drag-file .preview {
  display: none;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
/* 드래그 박스 끝 (이미지 삽입) */

/* 업로드 버튼 시작 */
.file-label {
  margin-top: 30px;
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 65%;
  border-radius: 6px;
  cursor: pointer;
}
.file {
  display: none;
}
/* 업로드 버튼 끝 */

/* 상품 등록 버튼 */
.registered .registeredBtn {
  width: 52.5%;
}
/* 수정 버튼 */
.registered .registeredBtnUpdate {
  width: 52.5%;
}

/* 신메뉴, 추천메뉴 체크박스 시작 */
.registered .registeredCheckbox {
  width: 45%;
}
/* 신메뉴, 추천메뉴 체크박스 끝 */

/* 상품 수정 제목 */
.editTitle {
  width: 44%;
}

/* 파일 선택 */
.file-label {
  margin-top: 30px;
  background-color: rgb(209, 209, 209);
  color: rgb(82, 82, 82);
  text-align: center;
  padding: 10px 0;
  width: 65%;
  border-radius: 6px;
  cursor: pointer;
}

/* 상품관리 CSS 끝 ------------------------ */
