<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>비밀번호 찾기</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
  </head>
  <body>
    <!-- 회원가입 화면 페이지 시작 -->
    <div class="container-fluid p-0">
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->

      <!-- 헤더 텍스트 시작 -->
      <div class="signInFinishTitleBox">
        <span class="signInTitle fw-bold">
          고객님의 소중한 개인정보를 위하여 <br />비밀번호를 변경해주세요!
        </span>
      </div>
      <!-- 헤더 텍스트 끝 -->

      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->

      <!-- 비밀번호 -->
      <label for="inputMemberPw" class="labelTxt form-label">비밀번호*</label>
      <div class="formBox mb-3 d-flex justify-content-center">
        <input
          type="password"
          class="inputBox form-control fs-1"
          id="inputMemberPw"
          placeholder="&nbsp;&nbsp;비밀번호를 입력해주세요"
        />
      </div>
      <!-- 비밀번호 확인 -->
      <label for="inputMemberPw2" class="labelTxt form-label"
        >비밀번호 확인*</label
      >
      <div class="formBox mb-3 d-flex justify-content-center">
        <input
          type="password"
          class="inputBox form-control fs-1"
          id="inputMemberPw2"
          placeholder="&nbsp;&nbsp;위와 동일한 비밀번호를 입력해주세요"
        />
      </div>
      <!-- 간격 생성 시작 -->
      <br />
      <!-- 간격 생성 끝 -->
      <!-- 확인 -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="loginBtn">
          확인
        </button>
      </div>
      <!-- 간격 생성 시작 -->
      <div style="height: 1.2vh"></div>
      <!-- 간격 생성 끝 -->
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img
          src="./images/MGC LOGO (7).png"
          alt=""
          class="w-50"
          id="megaLogo"
        />
      </div>
      <!-- 로고 박스 끝 -->
    </div>
    <!-- 회원가입 화면 페이지 끝 -->
    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <!-- j쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--  사용자 정의 JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      //  로그인 페이지로 이동
      $(document).ready(function () {
        $("#loginBtn").on("click", function (e) {
          e.preventDefault();

          window.location.href = "loginForm.html";
        });
      });

      //  로고 클릭시 로그인 페이지로 이동
      $(document).ready(function () {
        $("#megaLogo").on("click", function (e) {
          e.preventDefault();

          window.location.href = "loginForm.html";
        });
      });
    </script>
  </body>
</html>
