<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>아이디 찾기</title>
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <!-- 간격 생성 시작 -->
      <div class="emptyBox mt-3 mb-2"></div>
      <br />
      <!-- 간격 생성 끝 -->
      <!-- 아이디 및 비밀번호 찾기 헤더 및 네비 -->
      <div>
        <p class="findHeader mt-3 fw-bold text-center">
          아이디 및 비밀번호 찾기
        </p>
        <br />
        <div class="d-flex border-bottom">
          <div class="findNav" style="border-bottom: 3px solid black">
            <a href="#">아이디 찾기</a>
          </div>
          <div class="findNav">
            <a href="/findPw">비밀번호 찾기</a>
          </div>
        </div>
      </div>
      <br />
      <!-- 입력 폼 시작 -->
      <div class="formBox mt-3 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberName"
          placeholder="&nbsp;&nbsp;이름을 입력해주세요."
        />
      </div>
      <div class="formBox mt-3 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberEmail"
          placeholder="&nbsp;&nbsp;이메일을 입력해주세요."
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="findSubmitBtn">
          확인
        </button>
      </div>
      <!-- 입력 폼 끝 -->
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <br />
      <!-- 간격 생성 끝 -->
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img
          src="./images/MGC LOGO (7).png"
          alt=""
          class="w-50"
          id="megaLogo"
        />
      </div>
      <!-- 로고 박스 끝 -->
    </div>
    <!-- 로그인 화면 페이지 끝 -->
    <script layout:fragment="script">
      $(document).ready(function () {
        $("#findSubmitBtn").on("click", function (e) {
          e.preventDefault();

          // 입력 필드 값 가져오기
          var memberName = $("#inputMemberName").val();
          var memberEmail = $("#inputMemberEmail").val();

          // 서버에 전송
          $.ajax({
            type: "POST",
            url: "/findIdAction",
            contentType: "application/json",
            data: JSON.stringify({
              userName: memberName,
              userEmail: memberEmail,
            }),
            success: function (response) {
              if (response.status === "ok" && response.result === 1) {
                // 아이디를 찾은 경우
                var foundId = response.data; // 찾은 아이디
                var joinDate = response.join_date; // 가입일
                window.location.href =
                  "/resultId?member_id=" +
                  foundId +
                  "&join_date=" +
                  joinDate;
              } else {
                // 아이디를 찾지 못한 경우
                alert("입력하신 정보와 일치하는 회원이 없습니다.");
              }
            },
            error: function () {
              // 서버와 통신 중 에러가 발생한 경우
              alert("서버와 통신 중 에러가 발생했습니다.");
            },
          });

          // 입력 필드가 비어 있으면 경고창 표시
          if (!memberName || !memberEmail) {
            alert("모든 필수 항목을 입력해주세요!");
            return;
          }
        });
      });
    </script>
  </body>
</html>
