<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>로그인</title>
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img
          src="/static/images/MGC LOGO (7).png"
          alt=""
          class="w-50"
          id="megaLogo"
        />
      </div>
      <!-- 로고 박스 끝 -->

      <div class="emptyBox"></div>
      <!-- 입력 폼 시작 -->
      <div class="formBox mt-3 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberId"
          placeholder="&nbsp;&nbsp;아이디"
        />
      </div>
      <div class="formBox mb-3 d-flex justify-content-center">
        <input
          type="password"
          class="inputBox form-control fs-1"
          id="inputMemberPw"
          placeholder="&nbsp;&nbsp;비밀번호"
        />
      </div>
      <div class="d-flex justify-content-center">
        <!-- 입력 폼 시작 -->
        <button
          type="submit"
          class="submitBox btn fw-bold"
          id="mainBtn"
          onclick="loginAction();"
        >
          로그인
        </button>
      </div>
      <!-- 입력 폼 끝 -->
      <!-- 찾기 박스 시작 -->
      <div class="findBox">
        <a href="/findId" class="findLink fs-2 text-dark fw-bold"
          >아이디/비밀번호 찾기 ></a
        >
      </div>
      <!-- 찾기 박스 끝 -->
      <!-- 회원가입 박스 시작 -->
      <div class="signInBox d-flex justify-content-center">
        <a href="" class="signInLink fs-2" id="signInBtn"
          ><span>아직 회원이 아니신가요?</span
          ><span class="fw-bold" onclick="signInForm();">회원가입</span></a
        >
      </div>
      <!-- 회원가입 박스 끝 -->
    </div>
    <!-- 로그인 화면 페이지 끝 -->
  </body>
</html>
