<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>회원가입</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div class="container-fluid p-0">
      <div class="fs-1 fw-bold">제 1조(목적)</div>
      <div class="fs-1">
        이 약관은 ㈜앤하우스(이하 ‘회사’라고 함)가 제공하는 모바일 어플리케이션
        서비스(이하 ‘메가MGC커피 멤버십’이라고 함)를 이용함에 있어 필요한 이용
        조건, 절차 및 당사자간의 권리 의무 등 기본적인 사항을 규정하는 것을
        목적으로 합니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 2조(용어의 정의)</div>
      <div class="fs-1">
        이 약관에서 사용하는 용어는 다음과 같이 정의합니다. ① ’메가MGC커피
        멤버십’이란 회사가 제공하는 모바일 어플리케이션으로 스탬프 적립, 쿠폰의
        발행 및 사용을 제공하는 메가MGC커피 전용 어플리케이션 멤버십 서비스를
        말합니다. ② ‘회원’이란 모바일 어플리케이션을 통해 이용약관, 개인정보의
        수집 이용 및 제 3자 제공에 동의하고 메가MGC커피 멤버십 서비스를 사용하는
        자를 말합니다. ③ ‘매장’이란 회사와 계약하여 메가MGC커피 브랜드를
        사용하는 모든 가맹점을 말합니다. ④ ‘스탬프’란 매장에서 적립 가능 메뉴
        구매 시, 해장 매장에서 적립 및 사용이 가능하도록 제공하는 서비스를
        말합니다. ⑤ ‘쿠폰’이란 메가MGC커피 멤버십 스탬프 적립을 통해 발급된
        스탬프 쿠폰과 이벤트를 통해 발급된 이벤트 쿠폰을 말합니다. ⑥ ‘지류
        쿠폰’이란 종이에 스탬프를 찍어 적립/사용하는 기존의 멤버십 카드를
        말합니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 3조(적립 및 사용)</div>
      <div class="fs-1">
        ① 매장에서 적립 가능 메뉴 구매 시, 메뉴 한 개당 한 개의 스탬프가
        발행되며, 스탬프 10개 적립 시 아메리카노 교환권, 즉 스탬프 쿠폰이
        발행됩니다. 단 스탬프 쿠폰 보다 낮은 금액의 메뉴 구매 시 차액은 반환되지
        않으며, 스탬프 쿠폰은 아메리카노로 교환됩니다. ② 스탬프 카드는 전
        매장에서 통합 적립되며 메가MGC커피 전 매장에서만 사용 가능합니다. ③
        스탬프 적립 및 스탬프 쿠폰 사용 불가 메뉴는 다음과 같습니다. * 행사
        제품(할인 및 프로모션), 베이커리, 빙수, RTD, MD 상품 ④ 스탬프 쿠폰 및
        이벤트 쿠폰을 사용하여 매장의 메뉴를 제공받는 경우에는 스탬프가 적립되지
        않습니다. ⑤ 쿠폰은 현금으로 반환되지 않으며, 타인에게 양도할 수
        없습니다. ⑥ 쿠폰 1개는 사용 가능한 메뉴로 교환 가능하며, 다른 쿠폰과
        합산하여 사용할 수 없습니다. ⑦ 쿠폰은 지류 쿠폰과 혼용되지 않으며,
        타인의 쿠폰과 합산하여 사용할 수 없습니다. ⑧ 쿠폰으로 다른 유가증권이나
        결제가 가능한 다른 수단을 구입할 수 없습니다. ⑨ 스탬프의 유효기간은
        적립일 포함 6개월이며, 쿠폰의 유효기간은 발행일 포함 1개월입니다.
        유효기간이 지난 스탬프 및 쿠폰은 유효기간 연장 및 재발행이 불가합니다.
        단, 프로모션 및 이벤트 쿠폰의 경우 유효기간이 다를 수 있습니다. ⑩ 스탬프
        적립은 메가MGC커피 멤버십(안드로이드, IOS) 어플리케이션으로 가능합니다.
        ⑪ 스탬프 적립 및 쿠폰 발행 내역은 메가MGC커피 멤버십 어플리케이션에서
        확인 가능합니다. ⑫ 일부 매장에서는 적립 및 사용이 불가합니다. 사용 불가
        매장은 메가MGC커피 공식 홈페이지 또는 메가MGC커피 멤버십 어플리케이션
        공지사항에서 확인할 수 있으며, 이는 변동될 수 있습니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 4조(장애 처리)</div>
      <div class="fs-1">
        기기/기술적 결함이나 네트워크의 오류 및 장애 발생으로 인하여 일시적으로
        서비스 이용에 제한이 발생할 수 있으며, 적립 및 사용에 최대 24시간이
        소요될 수도 있습니다. (주말/공휴일 제외한 본사 영업일 기준). 이 경우는
        서비스 이용이 정상화되면 추후 적립/사용이 가능합니다.
        <br />
        고객센터 : ㈜발트루스트 고객센터 1588-4738 주소 : 경기도 성남시 분당구
        성남대로779번길 6 2층
      </div>
      <br />
      <div class="fs-1 fw-bold">제 5조(약관 변경)</div>
      <div class="fs-1">
        ① 회사는 메가MGC커피 멤버십 이용약관이나 쿠폰의 사용 및 스탬프 조건을
        변경할 권리를 보유하며, 필요 시 개정할 수 있습니다. ② 개정할 경우에는
        변경약관을 적용하고자 하는 날로부터 1개월 전에 약관이 변경된다는 사실과
        변경 사유, 변경 내용 등을 웹사이트 또는 모바일 어플리케이션
        공지사항(또는 개별공지)을 통해 회원에게 고지합니다. ③ 약관 및 쿠폰,
        스탬프 조건이 변경된 이후에도 회원이 1개월간 이의 제기 없이 계속적으로
        서비스를 이용하는 경우에는 회원이 약관의 변경사항에 동의한 것으로
        간주하며, 이는 기존의 회원에게도 동일하게 적용됩니다. ④ 변경약관에
        동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 6조(회원 ID 등의 관리책임)</div>
      <div class="fs-1">
        ① 회원은 서비스 이용을 위한 회원 ID, 비밀번호의 관리에 대한 책임, 본인
        ID의 제 3자에 의한 부정사용 등 회원의 고의·과실로 인해 발생하는 모든
        불이익에 대한 책임을 부담합니다. 단, 이것이 회사의 고의·과실로 인하여
        야기된 경우는 회사가 책임을 부담합니다. ② 회원은 회원 ID, 비밀번호 및
        추가정보 등을 도난 당하거나 제 3자가 사용하고 있음을 인지한 경우에는
        즉시 본인의 비밀번호를 수정하는 등의 조치를 취하여야 하며, 즉시 이를
        회사에 통보하여 회사의 안내를 따라야 합니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 7조(분쟁의 해결)</div>
      <div class="fs-1">
        이 약관은 메가커피 회사(전자거래 사업자)가 운영하는 메가커피 사이버
        몰(이하 "몰"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라
        한다)를 이용함에 있어 사이버몰과 이용자의 권리·의무 및 책임사항을
        규정함을 목적으로 합니다. ※ 「PC통신등을 이용하는 전자거래에 대해서도 그
        성질에 반하지 않는한 이 약관을 준용합니다」
      </div>
      <br />
      <div class="fs-1 fw-bold">제 8조(규정의 준용)</div>
      <div class="fs-1">
        이 약관은 메가커피 회사(전자거래 사업자)가 운영하는 메가커피 사이버
        몰(이하 "몰"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라
        한다)를 이용함에 있어 사이버몰과 이용자의 권리·의무 및 책임사항을
        규정함을 목적으로 합니다. ※ 「PC통신등을 이용하는 전자거래에 대해서도 그
        성질에 반하지 않는한 이 약관을 준용합니다」
      </div>
      <br />
      <div class="fs-1 fw-bold">부칙 제 1조 (2019.8.1)</div>
      <div class="fs-1">본 약관은 2019년 8월 1일부터 시행됩니다.</div>

      <div class="emptyBox"></div>
      <!-- 확인 버튼 -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="submitBox btn fw-bold"
          id="membershipTOUSubmit"
        >
          확인
        </button>
      </div>
    </div>
    <!-- 로그인 화면 페이지 끝 -->
    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <!-- j쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--  사용자 정의 JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
      // 멤버십 약관 페이지로 이동
      $(document).ready(function () {
        $("#membershipTOUSubmit").on("click", function (e) {
          e.preventDefault();

          window.location.href = "termsOfUse.html";
        });
      });
    </script>
  </body>
</html>
