<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>회원 탈퇴</title>
  </head>
  <body>
    <div layout:fragment="mobile" class="container-fluid p-4">
      <!-- 취소 -->
      <div class="w-100">
        <a href="/memberSetting">
          <img src="/static/images/icons/nav-close.svg" alt="취소" />
        </a>
      </div>

      <!-- 확인 문구 -->
      <div>
        <br />
        <p style="font-size: 30px" class="fw-bold">
          정말로 탈퇴하시겠습니까? :(
        </p>
        <p>한 번 삭제된 정보는 복구가 불가능합니다.</p>
        <p>재가입은 탈퇴일로부터 30일 후 가능합니다.</p>
      </div>

      <br />
      <br />

      <!-- 탈퇴 서명 -->
      <div class="">
        <div class="mb-3">
          <label for="nameForm" class="form-label">이름</label>
          <input
            type="name"
            class="form-control"
            id="nameForm"
            th:placeholder="|${loginName}|"
          />
        </div>
        <div class="mb-3">
          <label for="explanForm" class="form-label">탈퇴 사유</label>
          <textarea class="form-control" id="explanForm" rows="3"></textarea>
        </div>

        <br />

        <!-- 탈퇴 체크 박스 -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            onchange="updateButtonState()"
          />
          <label class="form-check-label" for="flexCheckDefault">
            내용을 확인했습니다.
          </label>
        </div>
      </div>

      <br />

      <!-- 탈퇴 버튼 -->
      <div>
        <button
          type="button"
          class="w-100 memberDeleteBtn"
          id="deleteButton"
          onclick="deleteAction();"
        >
          탈퇴
        </button>
      </div>
    </div>
    <script layout:fragment="script">
      function updateButtonState() {
        //  체크박스
        const checkbox = document.getElementById("flexCheckDefault");

        // 탈퇴 버튼
        const deleteButton = document.getElementById("deleteButton");

        // 체크 상태에 따라 클래스 추가 또는 제거
        if (checkbox.checked) {
          deleteButton.classList.add("active");
        } else {
          deleteButton.classList.remove("active");
        }
      }

      function deleteAction() {
        const nameInput = document.getElementById("nameForm");
        const nameValue = nameInput.value;
        const placeholder = nameInput.getAttribute("placeholder");

        //  체크박스
        const checkbox = document.getElementById("flexCheckDefault");

        //  탈퇴사유
        const reasonTextarea = document.getElementById("explanForm");
        const reasonValue = reasonTextarea.value;

        if (nameValue !== placeholder) {
          alert("이름을 확인해주세요.");
          return;
        }

        if (reasonValue.length < 3) {
          alert("탈퇴 사유는 3글자 이상이어야 합니다.");
          return;
        }

        if (!checkbox.checked) {
          alert("탈퇴를 위해서는 내용을 확인해주세요.");
          return;
        }

        console.log(nameValue);

        let params = {
          memberName: nameValue,
        };

        fetch("/deleteMemberAction", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));

            // 페이지 새로고침
            alert("삭제되었습니다!");
            window.location.href = "/loading";
          })
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </body>
</html>
