<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>계정 설정</title>
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <!-- 계정 설정 헤더 및 뒤로가기, 새로고침 버튼-->
      <br />
      <br />
      <div class="stampHeaderBox">
        <div class="memberSettingHeader d-flex align-items-center w-100">
          <a href="/more"
            ><img
              class="backImg ms-3"
              th:src="@{static/images/icons/nav-back.svg}"
              alt=""
          /></a>
          <div class="memberSettingTitle d-flex justify-content-center">
            <p class="fw-bold">회원 정보 관리</p>
          </div>
        </div>
      </div>
      <br />
      <!-- 헤더 -->
      <!-- 하단 내역 -->
      <div class="memberSettingSection w-100">
        <div
          class="nameSetting w-100 d-flex justify-content-between align-items-center"
        >
          <span><p class="settingCate">이름</p></span>
          <span class="d-flex">
            <p th:text="|${loginName}|" class="settingFont fw-bold">테스트</p>
            <button
              type="button"
              class="settingBtn"
              id="namePopupBtn"
              data-bs-toggle="modal"
              data-bs-target="#nameModal"
            >
              변경
            </button>
          </span>

          <div
            class="modal fade"
            id="nameModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div
                class="modal-content"
                style="height: 400px; overflow: hidden"
              >
                <div
                  class="modal-header d-flex justify-content-center align-items-end"
                  style="height: 40%"
                >
                  <h1
                    class="modal-title fw-bold"
                    id="exampleModalLabel"
                    style="font-size: 38px"
                  >
                    이름 변경
                  </h1>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 d-flex justify-content-center">
                      <input
                        class="inputNameBox"
                        type="text"
                        name="memberName"
                        id="inputMemberName"
                        th:placeholder="|${loginName}|"
                      />
                    </div>
                  </form>
                </div>
                <div class="modalFooter d-flex">
                  <div class="modalCancelDiv">
                    <button
                      type="button"
                      class="modalCancelBtn"
                      data-bs-dismiss="modal"
                    >
                      취소
                    </button>
                  </div>
                  <div class="modalChangeDiv">
                    <button
                      type="button"
                      class="modalChangeBtn"
                      onclick="updateNameAction();"
                    >
                      변경
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 모달 끝 -->
          <!-- 이름 -->
        </div>
        <!-- ************************************************* -->
        <div class="settingLine w-100"></div>
        <!-- ************************************************* -->
        <div class="etcSetting w-100">
          <!-- 생년월일 -->
          <span class="d-flex justify-content-between">
            <p class="settingCate">생년월일</p>
            <p th:text="|${memberBirth}|" class="settingFont fw-bold">
              1999년 9월 9일
            </p>
          </span>
          <!-- 휴대전화번호 -->
          <span class="phoneSetting d-flex justify-content-between">
            <span>
              <p class="settingCate">휴대전화번호</p>
            </span>
            <span class="d-flex justify-content-between">
              <p th:text="|${memberPhone}|" class="settingFont fw-bold">
                010-1245-1245
              </p>
              <button
                type="button"
                class="settingBtn"
                data-bs-toggle="modal"
                data-bs-target="#phoneModal"
              >
                변경
              </button>
            </span>
          </span>
        </div>
        <!-- 폰번호 모달 -->
        <div
          class="modal fade"
          id="phoneModal"
          tabindex="-1"
          aria-labelledby="phoneModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="height: 400px; overflow: hidden">
              <div
                class="modal-header d-flex justify-content-center align-items-end"
                style="height: 40%"
              >
                <h1
                  class="modal-title fw-bold"
                  id="phoneModalLabel"
                  style="font-size: 38px"
                >
                  휴대전화번호 변경
                </h1>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3 d-flex justify-content-center">
                    <input
                      class="inputNameBox"
                      type="text"
                      name="memberPhone"
                      id="inputMemberPhone"
                      th:placeholder="|${lmemberPhone}|"
                    />
                  </div>
                </form>
              </div>
              <div class="modalFooter d-flex">
                <div class="modalCancelDiv">
                  <button
                    type="button"
                    class="modalCancelBtn"
                    data-bs-dismiss="modal"
                  >
                    취소
                  </button>
                </div>
                <div class="modalChangeDiv">
                  <button
                    type="button"
                    class="modalChangeBtn"
                    onclick="updatePhoneAction();"
                  >
                    변경
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ************************************************* -->
        <div class="settingLine w-100"></div>
        <!-- ************************************************* -->
        <div
          class="deleteMember w-100 d-flex justify-content-between"
          style="padding-right: 30px"
        >
          <!-- 회원 탈퇴 -->
          <p class="settingCate">회원 탈퇴</p>
          <a href="/deleteMember" onclick="history.back();"
            ><img
              class="backImg ms-3"
              th:src="@{static/images/icons/btn-more.svg}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <!-- 계정 설정 화면 페이지 끝 -->
    <script layout:fragment="script">
      //  뒤로가기 버튼 클릭시 이전 페이지로 이동
      $(document).ready(function () {
        $("#backBtn").on("click", function (e) {
          e.preventDefault();

          window.history.back();
        });
      });

      // 회원 이름 변경 액션
      function updateNameAction() {
        const nameValue = document.getElementById("inputMemberName").value;
        console.log("이름:" + nameValue);

        let params = {
          memberName: nameValue,
        };

        fetch("/memberSetting/updateName", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));

            // 페이지 새로고침
            window.location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }

      // 회원 휴대폰 번호 변경 액션
      function updatePhoneAction() {
        const phoneValue = document.getElementById("inputMemberPhone").value;
        console.log("핸드폰 번호:" + phoneValue);

        let params = {
          memberPhone: phoneValue,
        };

        fetch("/memberSetting/updatePhone", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));

            // 페이지 새로고침
            window.location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </body>
</html>
