<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>상품 검색</title>

  </head>
  <body>
    <!-- 상품검색 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <div class="header d-flex justify-content-between">
        <button class="backBtn border-0 bg-white">
          <img
            id="backBtnImg"
            src="../../static/images/icons/cross.png"
            alt="back"
          />
        </button>
        <div class="topText d-flex">
          <div class="fw-bold fs-1">상품 검색</div>
        </div>
        <div class="cartImg">
          <img src="../../static/images/icons/online-shopping.png" alt="" />
        </div>
      </div>
      <br />
      <!-- 상품검색 끝 -->

      <!-- 상품 검색창 시작 -->
      <div class="input-group mb-3">
        <span class="input-group-text bg-white border-0" id="basic-addon1"
          ><img src="../../static/images/icons/search.png" alt=""
        /></span>
        <input
          type="text"
          class="form-control fs-1"
          placeholder="상품명으로 검색"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <img id="textReset" src="../../static/images/icons/cross.png">
      </div>
      <!-- 상품 검색창 끝 -->

      <!-- 메뉴 검색 리스트 시작-->
      <div class="itemList d-flex" th:each="item : ${list}">
        <div class="img m-3 p-3">
          <img alt="" th:src="@{'/static/upload/' + ${item.itemImageUrl}}" />
        </div>
        <div class="itemInput m-5 p-5">
          <div class="text fs-1 fw-bold" th:text="${item.itemName}">[커피](ICE)아메리카노</div>
          <br />
          <div class="price fs-2" th:text="${item.itemPrice}">3,500원</div>
        </div>
      </div>
      <!-- 메뉴 검색 리스트 끝-->
      <div class="moreBox" id="loadMoreButton">더보기</div>
    </div>

    <script layout:fragment="script">
      //상단 x버튼 클릭시 뒤로가기
      $(document).ready(function () {
        $("#backBtnImg").on("click", function (e) {
          e.preventDefault();

          window.history.back();
        });
      });

      // 인풋 옆 x 클릭시 텍스트 지워짐
      document.addEventListener("DOMContentLoaded", function () {
        var textReset = document.getElementById("textReset");

        textReset.addEventListener("click", function () {
          var inputElement = document.querySelector(".form-control");

          inputElement.value = "";
        });
      });
    </script>
  </body>
</html>
