<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>주문하기</title>
  </head>
  <body>
    <!-- 상단 메뉴선택 & 돋보기 버튼 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-4">
      <br />
      <br />
      <div class="choiceAndSearch d-flex justify-content-between">
        <button class="backBtn border-0 bg-white">
          <img id="backBtnImg" src="/static/images/icons/back.png" alt="back" />
        </button>
        <div class="topText">
          <div class="fw-bold" style="font-size: 42px">주문하기</div>
        </div>
        <button class="searchBtn text-end bg-transparent text-body border-0">
         <a href="/cart">
           <img
                   class="cartImg"
                   style="width: 50px"
                   src="/static/images/icons/online-shopping.png"
                   alt=""
           />
         </a>
        </button>
      </div>
      <br />
      <!-- 상단 메뉴선택 & 돋보기 버튼 끝 -->

      <!-- 메뉴 카테고리 시작 -->
      <div class="MenuChoice m-3 d-flex justify-content-between">
        <button type="button" class="menuCate menuCate1 m-2" id="newMenu">
          신메뉴
        </button>
        <button type="button" class="menuCate menuCate1 m-2">커피</button>
        <button type="button" class="menuCate menuCate1 m-2">티</button>
        <button type="button" class="menuCate menuCate2 m-2">
          에이드&스무디
        </button>
      </div>
      <!-- 메뉴 카테고리 끝 -->

      <!-- 메뉴 갯수 시작 -->
      <div
        class="menuNumber p-4"
        id="itemCount"
        th:text="${count}+'개'"
        style="font-size: 36px"
      >
        0개
      </div>
      <!-- 메뉴 갯수 끝 -->

      <!-- 메뉴 목록 시작-->
      <div class="p-4 w-100 d-flex flex-wrap" id="menuList">
        <!-- 상품 반복문 시작 -->
        <div
          th:each="item : ${list}"
          th:if="${item.itemNew == 1}"
          class="menuItem"
          onclick="detailAction();"
        >
          <!-- 이미지 -->
          <div class="menuImage">
            <img
              th:src="@{'/static/upload/' + ${item.itemImageUrl}}"
              alt="이미지"
            />
          </div>
          <!-- 이름 -->
          <div class="d-flex justify-content-center">
            <p th:text="${item.itemName}" class="menuName text-center">커피</p>
          </div>
          <div class="d-flex justify-content-center">
            <p th:text="${item.itemPrice}+'원'" class="menuPrice">1200원</p>
          </div>
        </div>
        <!-- 상품 반복문 끝 -->
      </div>
      <!-- 메뉴 목록 끝-->

      <!-- 하단바 시작 -->
      <footer class="footer">
        <div class="container d-flex flex-wrap justify-content-center">
          <!-- 1. 메인 -->
          <div class="footerInBox footerMain d-flex justify-content-center">
            <a th:href="@{/main}">
              <div id="footerMain">
                <img src="/static/images/icons/house (1).png" alt="" />
                <p>메인</p>
              </div>
            </a>
          </div>
          <!-- 2. 메가오더 -->
          <div
            class="footerInBox footerMegaOrder d-flex justify-content-center"
          >
            <a href="/store">
              <div id="footerMegaOrder">
                <div class="footerImg">
                  <img src="/static/images/icons/coffee-cup (1).png" alt="" />
                </div>
                <p>메가오더</p>
              </div>
            </a>
          </div>
          <!-- 3. 더보기 -->
          <div class="footerInBox footerMore d-flex justify-content-center">
            <div id="footerMore">
              <img src="/static/images/icons/menu (1).png" alt="" />
              <p>더보기</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- 하단바 끝 -->
    </div>

    <script layout:fragment="script">
      // < 버튼 클릭시 매장 선택 화면으로 이동
      $(document).ready(function () {
        $("#backBtnImg").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/store/choice";
        });
      });

      // 돋보기 클릭시 메뉴 검색창으로 이동
      $(document).ready(function () {
        $("#search").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/menu/search";
        });
      });

      //상품 총 카운트 기능
      function updateItemCount(count) {
        const itemCountElement = document.getElementById("itemCount");
        itemCountElement.textContent = `상품 총 ${count || 0}개`;
      }

      // 각 카테고리 버튼에 클릭 이벤트 추가
      document.querySelectorAll(".menuCate").forEach(function (button) {
        button.addEventListener("click", function () {
          const category = button.textContent.trim();
          updateMenu(category);

          // 클릭된 버튼에 'active' 클래스 추가, 나머지 버튼에서 제거
          document
            .querySelectorAll(".menuCate")
            .forEach(function (otherButton) {
              otherButton.classList.remove("active");
            });
          button.classList.add("active");
        });
      });

      // 페이지 로드시 '신메뉴' 선택이 기본
      document.addEventListener("DOMContentLoaded", function () {
        const defaultCategory = "신메뉴";
        updateMenu(defaultCategory);

        // 초기 상태에 'active' 클래스 추가
        document.getElementById("newMenu").classList.add("active");

        updateFooter();
      });

      // 하단 바 업데이트
      function updateFooter() {
        var currentPageName = "메가오더"; // 현재 페이지 이름 설정

        // 하단 바의 모든 상자에 대해 반복
        document.querySelectorAll(".footerInBox").forEach(function (box) {
          var footerImg = box.querySelector("img");
          var footerText = box.querySelector("p");

          // 각 상자에 대해 현재 페이지에 따라 이미지 및 텍스트 업데이트
          if (box.classList.contains("footerMain")) {
            if (currentPageName === "메인") {
              footerImg.src = "/static/images/icons/house.png";
              footerText.style.color = "initial";
            } else {
              footerImg.src = "/static/images/icons/house (1).png";
              footerText.style.color = "black";
            }
          } else if (box.classList.contains("footerMegaOrder")) {
            if (currentPageName === "메가오더") {
              footerImg.src = "/static/images/icons/coffee-cup.png";
              footerText.style.color = "black";
            } else {
              footerImg.src = "/static/images/icons/coffee-cup (1).png";
              footerText.style.color = "initial";
            }
          } else if (box.classList.contains("footerMore")) {
            if (currentPageName === "더보기") {
              footerImg.src = "/static/images/icons/menu.png";
              footerText.style.color = "initial";
            } else {
              footerImg.src = "/static/images/icons/menu (1).png";
              footerText.style.color = "black";
            }
          }
        });
      }

      // 메뉴 카테고리 선택 액션
      function updateMenu(category) {
        fetch("/menu/select", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ category }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            updateTable(data); // 상품 목록을 업데이트
          })
          .catch((error) => {
            console.error("상품 선택 실패:", error);
          });
      }

      // 테이블 업데이트 함수
      function updateTable(items) {
        const menuList = document.getElementById("menuList");
        menuList.innerHTML = ""; // 메뉴 목록 초기화

        items.forEach((item) => {
          const menuItem = document.createElement("div");
          menuItem.classList.add("menuItem");

          // 이미지
          const menuImage = document.createElement("div");
          menuImage.classList.add("menuImage");
          const image = document.createElement("img");
          image.src = "/static/upload/" + item.itemImageUrl;
          menuImage.appendChild(image);
          menuItem.appendChild(menuImage);

          // 이름
          const nameDiv = document.createElement("div");
          nameDiv.classList.add("d-flex");
          nameDiv.classList.add("justify-content-center");
          const nameP = document.createElement("p");
          nameP.textContent = item.itemName;
          nameP.classList.add("menuName");
          nameDiv.appendChild(nameP);
          menuItem.appendChild(nameDiv);

          // 가격
          const priceDiv = document.createElement("div");
          priceDiv.classList.add("d-flex");
          priceDiv.classList.add("justify-content-center");
          const priceP = document.createElement("p");
          priceP.classList.add("menuPrice");
          priceP.textContent = item.itemPrice + "원";
          priceDiv.appendChild(priceP);
          menuItem.appendChild(priceDiv);

          menuItem.addEventListener("click", function () {
            detailAction(item.itemName);
          });
          menuList.appendChild(menuItem);
        });

        // 상품 총 카운트 업데이트
        updateItemCount(items.length);
      }

      // 상품 상세 페이지로 이동
      function detailAction(itemName) {
        const detailUrl = `/menu/detail/${itemName}`;
        window.location.href = detailUrl;
      }
    </script>
  </body>
</html>
