<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="utf-8" />
    <title>test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
  </head>
  <body>
    <div class="container-fluid p-0" layout:fragment="mobile">
      <!-- 상단바 시작 -->
      <div
        class="choiceAndSearch d-flex justify-content-between"
        style="margin-top: 20px"
      >
        <button class="backBtn border-0 bg-white" onclick="goToMenu()">
          <img
            id="backBtnImg"
            src="/static/images/icons/back.png"
            alt="back"
            style="width: 30px"
          />
        </button>

        <button class="searchBtn text-end bg-transparent text-body border-0">
          <a href="/cart">
            <img
              class="cartImg"
              style="width: 30px"
              src="/static/images/icons/online-shopping.png"
              alt=""
            />
          </a>
        </button>
      </div>
      <!-- 상단바 끝 -->

      <!-- 메뉴 이미지 시작 -->
      <div class="menuOrderImg">
        <img
          alt=""
          th:src="@{'/static/upload/' + ${item.itemImageUrl}}"
          style="width: 60%"
        />
        <input
          type="text"
          th:value="${item.itemImageUrl}"
          id="imageValue"
          style="display: none"
        />
      </div>
      <!-- 메뉴 이미지 끝 -->

      <!-- 메뉴 이름 & 메뉴 설명 시작-->
      <div class="nameDescription">
        <h4 class="menuName" th:text="${item.itemName}" id="nameValue">
          아메리카노
        </h4>
        <p
          class="menuDescription"
          th:text="${item.itemExplanation}"
          id="exValue"
        >
          아메리카노 설명
        </p>
        <input
          type="text"
          th:value="${item.itemCode}"
          id="cartItemCode"
          style="display: none"
        />
      </div>
      <!-- 메뉴 이름 & 메뉴 설명 끝-->

      <div class="divider"></div>

      <!-- 수량 및 가격 시작 -->
      <div class="amountBox">
        <div class="amount">
          <img
            id="minusBtn"
            src="../../static/images/icons/btn-amount-min.svg"
            alt=""
          />
          <span id="defaultNo">1</span>
          <img
            id="plusBtn"
            src="../../static/images/icons/btn-amount-plus.svg"
            alt=""
          />
        </div>
        <div class="price g900" id="prices" th:text="${item.itemPrice}">
          1,500원
        </div>
      </div>
      <!-- 수량 및 가격 끝 -->

      <div class="divider"></div>

      <!-- 총 상품금액 시작 -->
      <div class="totalPriceBox">
        <h5 class="totalPriceText">총 상품금액</h5>
        <div class="totalPrice" id="totalPriceId" th:text="${item.itemPrice}">
          1,500원
        </div>
      </div>
      <!-- 총 상품금액 끝-->

      <!-- 바로주문 & 장바구니담기 시작-->
      <div class="order-btn">
        <button
          href=""
          id="nowOrderId"
          class="nowOrder"
          onclick="updateOrder();"
        >
          바로 주문
        </button>
        <button
          href=""
          id="inputCartId"
          class="inputCart"
          onclick="updateCart();"
        >
          장바구니 담기
        </button>
      </div>
      <!-- 바로주문 & 장바구니담기 끝-->
    </div>

    <script layout:fragment="script">
      //뒤로가기 버튼
      function goToMenu() {
        window.location.href = "/menu";
      }

      // 수량 변경 및 총 상품금액 js 시작
      document.addEventListener("DOMContentLoaded", function () {
        var defaultNo = document.getElementById("defaultNo");
        var totalPriceId = document.getElementById("totalPriceId");
        var price = parseInt(
          document
            .querySelector(".price")
            .innerText.replace("원", "")
            .replace(/,/g, "")
        );
        var defaultNumber = parseInt(defaultNo.innerText);

        document
          .getElementById("minusBtn")
          .addEventListener("click", function () {
            if (defaultNumber > 1) {
              defaultNumber--;
              defaultNo.innerText = defaultNumber;
              var totalPrice = price * defaultNumber;
              totalPriceId.innerText = totalPrice.toString();
            }
          });

        document
          .getElementById("plusBtn")
          .addEventListener("click", function () {
            defaultNumber++;
            defaultNo.innerText = defaultNumber;
            var totalPrice = price * defaultNumber;
            totalPriceId.innerText = totalPrice.toString();
          });
      });
      // 수량 변경 및 총 상품금액 js 끝

      // 바로주문 클릭시 이동 및 수량과 금액정보를 DB로 전송 기능 시작
      function updateOrder() {
        let cartCodeValue = uuid.v4();
        const itemCodeValue = document.getElementById("cartItemCode").value;
        const itemNameValue = document.getElementById("nameValue").innerText;
        const itemImageUrlValue = document.getElementById("imageValue").value;
        const itemPriceValue = document.getElementById("prices").innerText;
        const cartItemAmountValue = parseInt(
          document.getElementById("defaultNo").innerText
        );

        console.log("카트코드:" + cartCodeValue);
        console.log("상품코드:" + itemCodeValue);
        console.log("상품이름:" + itemNameValue);
        console.log("상품이미지:" + itemImageUrlValue);
        console.log("상품가격:" + itemPriceValue);
        console.log("아이템수량:" + cartItemAmountValue);

        let params = {
          cartCode: cartCodeValue,
          itemCode: itemCodeValue,
          itemName: itemNameValue,
          itemImageUrl: itemImageUrlValue,
          itemPrice: itemPriceValue,
          cartItemAmount: cartItemAmountValue,
          cartDate: new Date(),
        };
        fetch("/updateOrder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));
            window.location.href = "/order"; // 해당 주소로 페이지 이동
          })
          .catch((error) => {
            console.log(error);
          });
      }
      // 바로주문 클릭시 이동 및 수량과 금액정보를 DB로 전송 기능 끝

      // '장바구니' 클릭시 이동 및 수량과 금액정보를 DB로 전송 기능 시작
      function updateCart() {
        let cartCodeValue = uuid.v4();
        const itemCodeValue = document.getElementById("cartItemCode").value;
        const itemNameValue = document.getElementById("nameValue").innerText;
        const itemImageUrlValue = document.getElementById("imageValue").value;
        const itemPriceValue = document.getElementById("prices").innerText;
        const cartItemAmountValue = parseInt(
          document.getElementById("defaultNo").innerText
        );

        console.log("카트코드:" + cartCodeValue);
        console.log("상품코드:" + itemCodeValue);
        console.log("상품이름:" + itemNameValue);
        console.log("상품이미지:" + itemImageUrlValue);
        console.log("상품가격:" + itemPriceValue);
        console.log("아이템수량:" + cartItemAmountValue);

        let params = {
          cartCode: cartCodeValue,
          itemCode: itemCodeValue,
          itemName: itemNameValue,
          itemImageUrl: itemImageUrlValue,
          itemPrice: itemPriceValue,
          cartItemAmount: cartItemAmountValue,
          cartDate: new Date(),
        };
        fetch("/updateOrder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log("json:" + JSON.stringify(json));
            window.location.href = "/cart"; // 해당 주소로 페이지 이동
          })
          .catch((error) => {
            console.log(error);
          });
      }

      // '장바구니' 클릭시 이동 및 수량과 금액정보를 DB로 전송 기능 끝
    </script>
  </body>
</html>
