<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>Document</title>
  </head>
  <body>
    <div layout:fragment="mobile" class="container-fluid p-0">
      <div
        class="headerTop fs-1 fs-1 fw-bold d-flex align-items-center justify-content-between"
        style="position: fixed"
      >
        <a href=""
          ><img
            class="backImg ms-5"
            th:src="@{/static/images/icons/nav-back.svg}"
            alt=""
        /></a>
        <span span class="text-center flex-grow-1 me-5 pe-5">주문하기</span>
      </div>
      <div class="location fs-1">의정부역점</div>
      <!-- 아코디언 -->
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header m-3">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <div class="accordion-content1">
                <span class="fw-bold fs-1">주문 상품</span>
                <span class="fs-2 fw-bold me-4"  th:text="|${list[0].itemName} 외 ${count -1} 건|"
                      >스모어블랙쿠키프라페</span>
              </div>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <div class="cart-list d-flex " th:each="cart: ${list}" >
                <input
                        class="cartUUID"
                        type="text"
                        th:value="${cart.itemCode}"
                        style="display: none"
                />
                <img
                        th:src="@{'/static/upload/' + ${cart.itemImageUrl}}"
                  alt=""
                />
                <div class="w-100 mb-1">
                  <div class="d-flex justify-content-between">
                    <span class="fw-bold fs-2" th:text="${cart.itemName}">아이템이름</span>
                  </div>
                  <div class="cart-option fs-2 mt-2 mb-5"></div>
                  <div class="amount-box">
                    <div class="amount w-50 fs-1 fw-bold" th:text="|${cart.cartItemAmount} 개|">1개</div>
                    <div class="price fs-1 fw-bold"th:text="|${cart.cartItemAmount * cart.itemPrice} 원|"
                       ></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input
              type="text"
              th:value="|${loginId}|"
              id="memberId"
              style="display: none"
      />
      <input
              type="text"
              th:value="${count}"
              id="countValue"
              style="display: none"
      />
      <div class="backColor" style="height: 20px"></div>
      <!-- 요청사항 -->
      <div class="requested d-flex flex-column">
        <span class="fs-1 fw-bold mb-4">요청사항</span>
        <span class="fs-2 mb-4">매장 요청사항</span>
        <input
          type="text"
          class="form-control fs-1 requestedInput"
          placeholder="매장 요청사항이 있으면 적어주세요."
        />
        <span class="fs-1 mt-5">포장 요청사항</span>
        <div class="radioSelectOption mt-3">
          <input class="radioBtn" type="radio" checked="true" name="take" />
          <label class="fs-1">포장해주세요.</label>
        </div>
        <div class="radioSelectOption">
          <input class="radioBtn" type="radio" name="take" />
          <label class="fs-1">매장에서 먹고 갈게요.</label>
        </div>
      </div>
      <!-- 결제 수단 -->
      <div class="backColor" style="height: 20px"></div>
      <div class="payment m-5">
        <span class="fw-bold fs-1">결제 수단</span>
        <div class="fs-2 mt-4">
          <div class="paymentSelect">
            <input class="radioBtn" type="radio" name="pay" value="1" checked="true" />
            <label>신용카드</label>
          </div>
          <div class="paymentSelect">
            <input class="radioBtn" type="radio" name="pay" value="2" />
            <label>간편카드결제</label>
          </div>
          <div class="paymentSelect">
            <input class="radioBtn" type="radio" name="pay" value="3" />
            <label>네이버페이</label>
          </div>
          <div class="paymentSelect">
            <input class="radioBtn" type="radio" name="pay" value="4" />
            <label>카카오페이</label>
          </div>
        </div>
      </div>
      <!-- 상품금액 -->
      <div class="backColor" style="height: 20px"></div>
      <div class="All m-5">
        <div class="selectPrice">
          <span class="fs-1">상품금액</span>
          <span class="fs-2 fw-bold">4,400원</span>
        </div>
        <div class="selectPrice mt-2">
          <span class="fs-1">할인금액</span>
          <span class="fs-2 fw-bold">-0원</span>
        </div>
        <div class="totalPrice mt-4 mb-4">
          <span class="fs-1">결제금액</span>
          <span class="fs-2 fw-bold" style="color: red">4,400원</span>
        </div>
        <hr />
      </div>
      <!-- 유의사항 아코디언-->
      <span class="fs-1 m-5">메가오더 유의사항</span>
      <div class="m-5">
        <span class="fs-2 m">
          1. 메가오더 서비스는 각 매장의 영업시간에 한해서 사용 가능합니다.
          <br />

          2. 결제 완료와 동시에 매장으로 주문내용이 전송되며, 매장에서
          제조리스트에 포함되기 때문에 고객 변심에 따른 주문 변경/취소가
          불가합니다.
          <br />

          3. 일부 메뉴의 경우 매장 상황에 따라 주문이 불가능 할 수 있습니다.
          <br />

          4. 주문 메뉴의 준비가 완료되었거나, 매장사정으로 주문이 취소되었을
          경우 안내를 위한 푸시 알림이 옵니다.
          <br />

          5. 카드 결제의 승인 취소는 카드사 사정에 따라 2~3일 및 그 이상의
          시일이 소요될 수 있습니다.
          <br />

          6. 스탬프는 매장의 주문 승인 후, 즉 결제완료 시 자동적립됩니다.
          <br />

          7. 주문하신 메뉴를 수령하지 않은 경우, 메뉴는 제조 완료 후 1시간까지
          매장에서 보관 후 폐기됩니다.
          <br />

          8. 매장의 메뉴 제조 완료 및 요청에도 불구하고 회원이 메뉴를 미수령한
          경우, 결제 취소 및 환불이 불가하고, 메뉴를 늦게 픽업하여 메뉴 수령
          당시 메뉴의 질이 떨어진 경우 메뉴 재 제조가 불가합니다.
        </span>
      </div>
      <div class="order-detail-btn">
        <a class="fs-1 fw-bold" style="color: white" href=""
        onclick="orderUpdate()">주문하기</a>
      </div>
    </div>
    <script layout:fragment="script">
// 총 금액
    let totalPrice = 0;
    const priceElements = document.querySelectorAll('.price');
    priceElements.forEach(element => {
      const priceText = element.innerText;
      const priceNumber = parseInt(priceText.replace(/[^\d]/g, ''));
      totalPrice += priceNumber;
    });

// totalPrice 값을 HTML 요소에 넣어주기
    const totalPriceElement = document.querySelector('.fs-2.fw-bold[style="color: red"]');
    if (totalPriceElement) {
      totalPriceElement.textContent = `${totalPrice.toLocaleString()}원`;
    }
    const productAmountElement = document.querySelector('.selectPrice .fs-2.fw-bold');

// 총 금액을 가진 변수 넣기
    if (productAmountElement) {
      productAmountElement.textContent = `${totalPrice.toLocaleString()}원`;
    }

//총 갯수
    const countValue = document.getElementById('countValue').value;
    const count = parseInt(countValue);

// 결제타입
    const selectedPayment = document.querySelector('input[name="pay"]:checked').value;

//카트 UUID
  let cartUUIDs = [];

  const cartUUIDElements = document.querySelectorAll('.cartUUID');
  if (cartUUIDElements.length > 0) {
    cartUUIDElements.forEach(element => {
      cartUUIDs.push(element.value);
    });
  }
//아이디
 const memberIdElement = document.getElementById('memberId').value;

// 주문상태
 var orderStatus = "결제완료";


<!--   console.log(memberIdElement);-->
<!--      console.log("총가격 : "+totalPrice);-->
<!--      console.log("갯수 : "+count);-->
<!--      console.log("결제타입 : "+selectedPayment);-->
<!--      console.log(cartUUIDs);-->

    let params = {
    orderTotalPrice: totalPrice,
    orderTotalCount: count,
    orderPayType: selectedPayment,
    memberId : memberIdElement,
    orderState : orderStatus,
    orderDatetime: new Date(),
};

for (let i = 0; i < 5; i++) {
    const cartItemCode = cartUUIDs[i];
    if (cartItemCode !== null && cartItemCode !== undefined) {
        params[`cartItemCode${i + 1}`] = cartItemCode;
    } else {
        params[`cartItemCode${i + 1}`] = null;
    }
}

console.log(params);


function orderUpdate() {



      }
    </script>
  </body>
</html>
