<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>Document</title>
  </head>
  <body>
  <div layout:fragment="mobile" class="container-fluid p-0">
      <div
        class="headerTop fs-1 fs-1 fw-bold d-flex align-items-center justify-content-between"
      >
        <a href="#"
           onclick="history.back();"
          ><img
            class="backImg ms-5"
            th:src="@{images/icons/nav-back.svg}"
            alt=""
        /></a>
        <span span class="text-center flex-grow-1 me-5 pe-5">주문하기</span>
      </div>
      <div class="location fs-1">의정부역점</div>
      <div class="p-5"><span class="fs-1 fw-bold w-100">주문상품</span></div>
      <div class="cart-list d-flex" th:each="cart, status:${ list }">
        <img
          th:src="${cart.itemImageUrl}"
          alt=""
        />
        <div class="w-100 mb-1">
          <div class="d-flex justify-content-between">
            <span th:text="${cart.itemName}" class="fw-bold fs-2">스모어블랙쿠키프라페</span>
            <a href="" style="height: 60px"
              ><img
                class="cart-list-delete"
                th:src="@{/images/icons/btn-cart-delete.svg}"
                alt=""
            /></a>
          </div>
          <div class="cart-option fs-2 mt-2 mb-5">
            <p>선택안함x1</p>
            <p>선택안함x1</p>
          </div>
          <div class="amount-box">
            <div class="amount w-50">
              <a class="num-down" href=""
                ><img th:src="@{/images/icons/btn-amount-min.svg}" alt=""
              /></a>
              <span class="number fs-1"  th:text="${cart.cartItemAmount}">1</span>
              <a class="num-up" href=""
                ><img
                  th:src="@{/images/icons/btn-amount-plus.svg}"
                  alt=""
              /></a>
            </div>
            <div class="price fs-1 fw-bold" th:text="${cart.itemPrice}">0원</div>
          </div>
        </div>
      </div>
      <!-- 상품목록 끝 -->
      <div class="cart-notice mb-5">
        <p class="var7 fs-3 fw-bold mb-0">
          장바구니에 담은 상품은 최대 30일간 보관됩니다.
        </p>
      </div>
      <!-- 장바구니 공지 끝 -->
      <div class="order-detail w-100">
        <div class="order-detail-price p-5">
          <p class="fs-1">상품금액</p>
          <span class="total-price fs-1 fw-bold" style="color: red">
            9,900 원
          </span>
        </div>
        <div class="order-detail-btn">
          <a class="fs-1 fw-bold" style="color: white" href="/order">주문하기</a>
        </div>
      </div>
    </div>
  </body>
</html>
