<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>회원가입</title>
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <br />
      <!-- 입력 폼 시작 -->
      <!-- 이름 -->
      <label for="inputMemberName" class="labelTxt form-label">이름*</label>
      <br />
      <div class="formBox mt-0 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberName"
          placeholder="&nbsp;&nbsp;이름을 입력해주세요"
        />
      </div>
      <!-- 아이디 -->
      <label for="inputMemberId" class="labelTxt form-label">아이디</label>
      <br />
      <div class="formBox mt-0 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberId"
          disabled
        />
      </div>
      <!-- 비밀번호 -->
      <label for="inputMemberPw" class="labelTxt form-label">비밀번호*</label>
      <div class="formBox mb-3 d-flex justify-content-center">
        <input
          type="password"
          class="inputBox form-control fs-1"
          id="inputMemberPw"
          placeholder="&nbsp;&nbsp;비밀번호를 입력해주세요"
        />
      </div>
      <!-- 비밀번호 확인 -->
      <label for="inputMemberPw2" class="labelTxt form-label"
        >비밀번호 확인*</label
      >
      <div class="formBox mb-3 d-flex justify-content-center">
        <input
          type="password"
          class="inputBox form-control fs-1"
          id="inputMemberPw2"
          placeholder="&nbsp;&nbsp;위와 동일한 비밀번호를 입력해주세요"
        />
      </div>
      <!-- 생년월일 -->
      <label for="inputMemberBirth" class="labelTxt form-label"
        >생년월일*</label
      >
      <br />
      <div class="formBox mt-0 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox fs-1 datepicker"
          id="inputMemberBirth"
          placeholder="&nbsp;&nbsp;생년월일을 선택해주세요"
        />
      </div>
      <!-- 이메일 -->
      <label for="inputMemberEmail" class="labelTxt form-label">이메일*</label>
      <br />
      <div class="formBox mt-0 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberEmail"
          placeholder="&nbsp;&nbsp;이메일을 입력해주세요"
        />
      </div>
      <!-- 연락처 -->
      <label for="inputMemberPhone" class="labelTxt form-label">연락처*</label>
      <br />
      <div class="formBox mt-0 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberPhone"
          placeholder="&nbsp;&nbsp;연락처를 입력해주세요"
        />
      </div>
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <!-- 회원가입 -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="submitBox btn fw-bold"
          id="signInFinish"
          onclick="joinAction();"
        >
          회원가입
        </button>
      </div>

      <!-- 입력 폼 끝 -->
    </div>
    <!-- 로그인 화면 페이지 끝 -->

    <script layout:fragment="script">
      function convertToDateFormat(dateString) {
        // 사용하는 날짜 형식에 따라 적절한 변환 코드 작성
        // 예: YYYY-MM-DD 형식을 사용한다면, 다음과 같이 변환
        const parts = dateString.split("/");
        const month = parseInt(parts[0], 10) - 1; // JavaScript에서 월은 0부터 시작하므로 1을 빼줍니다.
        const day = parseInt(parts[1], 10);
        const year = parseInt(parts[2], 10);

        // 유효한 날짜인지 확인
        if (isNaN(month) || isNaN(day) || isNaN(year)) {
          console.error("Invalid date format:", dateString);
          return null;
        }

        return new Date(year, month, day);
      }

      // URL 파라미터에서 아이디 값을 가져와서 설정
      var urlParams = new URLSearchParams(window.location.search);
      var username = urlParams.get("username");
      console.log("Username from URL:", username);

      // 아이디 값을 설정
      $("#inputMemberId").val(username);

      //  회원가입 페이지로 이동
      $(document).ready(function () {
        $("#signInFinish").on("click", function (e) {
          e.preventDefault();

          // 입력 필드 전부 채워져있는가? 체크
          var memberName = $("#inputMemberName").val();
          var password = $("#inputMemberPw").val();
          var passwordConfirmation = $("#inputMemberPw2").val();
          var birthDate = $("#inputMemberBirth").val();
          var email = $("#inputMemberEmail").val();
          var phone = $("#inputMemberPhone").val();

          if (
            !memberName ||
            !password ||
            !passwordConfirmation ||
            !birthDate ||
            !email ||
            !phone
          ) {
            // 일치하지 않을 경우 경고창
            alert("모든 필수 항목을 입력해주세요!");
            return;
          }

          // 비밀번호 및 비밀번호 확인 체크
          if (password !== passwordConfirmation) {
            // 일치하지 않을 경우 경고창
            alert("비밀번호가 일치하지 않습니다!");
            return;
          }

          // 이메일 형식이 올바른가? 체크
          var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!emailRegex.test(email)) {
            // 올바르지 않을 경우 경고창
            alert("올바른 이메일 형식이 아닙니다!");
            return;
          }

          // 모든 유효성 검사가 올바른 경우에만 회원가입 진행됨
          joinAction();
        });

        // 회원가입 액션
        function joinAction() {
          let idValue = document.getElementById("inputMemberId").value;
          let pwValue = document.getElementById("inputMemberPw").value;
          let nameValue = document.getElementById("inputMemberName").value;
          let birthValue = convertToDateFormat(
            document.getElementById("inputMemberBirth").value
          );
          let emailValue = document.getElementById("inputMemberEmail").value;
          let phoneValue = document.getElementById("inputMemberPhone").value;
          console.log("아이디:" + idValue);
          console.log("비밀번호:" + pwValue);
          console.log("이름:" + nameValue);
          console.log("생일:" + birthValue);
          console.log("이메일:" + emailValue);
          console.log("연락처:" + phoneValue);

          if (birthValue === null) {
            alert("올바른 날짜 형식이 아닙니다!");
            return;
          }

          let params = {
            loginId: idValue,
            loginPw: pwValue,
            userName: nameValue,
            userBirth: birthValue,
            userEmail: emailValue,
            userPhone: phoneValue,
          };
          console.log(JSON.stringify(params));

          fetch("/joinAction", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(params),
          })
            .then((response) => {
              console.log("response:" + response);
              console.log("response:" + JSON.stringify(response));
              return response.json();
            }) //HTTP 응답
            .then((json) => {
              //{ status: "ok", result: 5 }
              console.log("json:" + json);
              console.log("response:" + JSON.stringify(json));

              if (json.result == 1) {
                //회원가입 성공
                //다음페이지로 이동
                window.location.href =
                  "/signInFinish?memberName=" + encodeURIComponent(nameValue);
              } else {
                //회원가입 실패
                alert("회원가입 실패입니다." + json.errorMessage);
              }
            }) //실제 데이타
            .catch((error) => {
              console.log(error);
            });
        }

        // datapicker
        $(".datepicker").datepicker({
          changeMonth: true,
          changeYear: true,
          nextText: "다음 달",
          prevText: "이전 달",
        });
      });
    </script>
  </body>
</html>
