<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>회원가입</title>
  </head>
  <body>
    <!-- 회원가입 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <div class="signInFinishTitleBox">
        <span
          class="signInTitle fw-bold"
          id="memberName"
          th:text="${param.memberName}">이용자</span>
        <span class="signInTitle fw-bold">
          님! 반갑습니다! <br />회원가입이 완료되었어요 :> <br />
          바로 로그인하러 가보시겠어요?
        </span>
      </div>
      <!-- 간격 생성 시작 -->
      <br />
      <!-- 간격 생성 끝 -->
      <!-- 확인 -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="loginBtn">
          로그인
        </button>
      </div>
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img src="./images/MGC LOGO (7).png" alt="" class="w-50" />
      </div>
      <!-- 로고 박스 끝 -->
    </div>
    <!-- 회원가입 화면 페이지 끝 -->
    <script layout:fragment="script">
      //  이용약관 페이지로 이동
      $(document).ready(function () {
        $("#loginBtn").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/login";
        });
      });
    </script>
  </body>
</html>
