<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>회원가입</title>
  </head>
  <body>
    <!-- 회원가입 화면 페이지 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <div class="signInTitleBox">
        <p class="signInTitle fw-bold">아이디를 입력해주세요 :></p>
      </div>
      <!-- 입력 폼 시작 -->
      <div class="formBox mt-3 mb-3 d-flex justify-content-center">
        <input
          type="text"
          class="inputBox form-control fs-1"
          id="inputMemberId"
          placeholder="&nbsp;&nbsp;아이디"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="SignInCheck" onclick="checkIdAction();">
          확인
        </button>
      </div>
      <!-- 입력 폼 끝 -->
      <!-- 간격 생성 시작 -->
      <div class="emptyBox mb-2"></div>
      <div class="emptyBox mb-3"></div>
      <!-- 간격 생성 끝 -->
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img src="./images/MGC LOGO (7).png" alt="" class="w-50"  id="megaLogo" />
      </div>
      <!-- 로고 박스 끝 -->
    </div>
    <!-- 회원가입 화면 페이지 끝 -->
  </body>
</html>
