<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>매장 선택</title>
  </head>
  <body>
    <!-- 상단 메장선택 & 돋보기 버튼 시작 -->
    <div layout:fragment="mobile" class="container-fluid p-0">
      <div class="choiceAndSearch d-flex">
        <div class="choiceStore text-end p-4" style="width: 60%">
          <div class="fw-bold fs-1">매장 선택</div>
        </div>
      </div>
      <br />
      <!-- 상단 메장선택 & 돋보기 버튼 끝 -->
      <!-- <span class="input-group-text bg-white border-0" id="basic-addon1"
      ><img src="/images/icons/search.png" alt=""
      /></span> -->
      <!-- 매장 검색창 시작 -->
      <div class="input-group mb-3">
        <button
          class="btn btn-outline-secondary search bg-white border-0"
          type="button"
          id="button-addon2"
          onclick="searchStoreAction();"
        >
          <img src="/static/images/icons/search.png" alt="" />
        </button>
        <input
          type="text"
          class="form-control fs-1"
          placeholder="지점명으로 검색"
          aria-label="Username"
          aria-describedby="basic-addon1"
          id="searchValue"
        />
        <img id="textReset" src="/static/images/icons/cross.png" />
      </div>
      <!-- 상품 검색창 끝 -->

      <!-- 가로 선 시작 -->
      <div class="line border border-bottom"></div>
      <!-- 가로 선 끝 -->

      <!-- 내 주변 매장 문구 시작 -->
      <div class="aroundStore m-4 fs-3">
        내 주변에
        <label class="highlight" th:text="|총 ${count}개의 매장|"
          >15개의 매장</label
        >이 있습니다.
      </div>
      <!-- 내 주변 매장 문구 끝 -->

      <!-- 매장 리스트 시작-->
      <div id="storeList" class="storeList m-5">
        <div class="storeName" th:each="store, status:${ list }">
          <div class="d-flex justify-content-between">
            <div class="w-75">
              <div class="d-flex">
                <div
                  class="fw-bold fs-1 m-1 text-warning"
                  th:text="${store.storeNo}"
                ></div>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <div
                  class="fw-bold fs-1 m-1"
                  th:text="${store.storeName}"
                ></div>
              </div>
              <div class="fs-2 m-1" th:text="${store.storeAddress}"></div>
            </div>
            <div class="w-25">
              <div class="storeImg">
                <div>
                  <img
                    class="storeImg m-1"
                    style="border-radius: 100px"
                    src="../../static/images/icons/store.jpg"
                    alt="매장사진"
                    width="150"
                    height="150"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 매장 리스트 끝-->

      <!-- 하단바 시작 -->
      <footer class="footer">
        <div class="container d-flex flex-wrap justify-content-center">
          <!-- 1. 메인 -->
          <div class="footerInBox footerMain d-flex justify-content-center">
            <a th:href="@{/main}">
              <div id="footerMain">
                <img src="/static/images/icons/house (1).png" alt="" />
                <p>메인</p>
              </div>
            </a>
          </div>
          <!-- 2. 메가오더 -->
          <div
            class="footerInBox footerMegaOrder d-flex justify-content-center"
          >
            <a href="/store">
              <div id="footerMegaOrder">
                <div class="footerImg">
                  <img src="/static/images/icons/coffee-cup (1).png" alt="" />
                </div>
                <p>메가오더</p>
              </div>
            </a>
          </div>
          <!-- 3. 더보기 -->
          <div class="footerInBox footerMore d-flex justify-content-center">
            <a href="/more">
              <div id="footerMore">
                <img src="/static/images/icons/menu (1).png" alt="" />
                <p>더보기</p>
              </div>
            </a>
          </div>
        </div>
      </footer>
      <!-- 하단바 끝 -->
    </div>

    <script layout:fragment="script">
      //메뉴 리스트 선택 js 시작
      $(document).ready(function () {
        $(".storeListMenu span").click(function () {
          // 모든 버튼에서 'active' 클래스 제거
          $(".storeListMenu span").removeClass("active");

          // 클릭된 버튼에 'active' 클래스 추가
          $(this).addClass("active");
        });
      });

      //x 클릭시 텍스트 지워짐 js
      document
        .getElementById("textReset")
        .addEventListener("click", function () {
          document.getElementById("searchValue").value = "";
        });

      // 돋보기 클릭시 지점명 검색으로 이동
      $(document).ready(function () {
        $("#search").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/store/search";
        });
      });

      //매장 선택시 주문하기(메뉴선택) 페이지로 이동
      $(document).ready(function () {
        $("#storeList").on("click", function (e) {
          e.preventDefault();

          window.location.href = "/menu";
        });
      });

      // 검색 기능
      function searchStoreAction() {
        // 검색 옵션 및 검색값 가져오기
        const searchValue = document.getElementById("searchValue").value;

        // 파라미터 보내기
        const params = { searchValue };

        fetch("/user/store", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(params),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            updateTable(data); // 테이블 업데이트
          })
          .catch((error) => {
            console.error("상품 검색 실페:", error);
          });
      }

      // 데이터로 테이블 업데이트하는 함수
      function updateTable(data) {
        const storeList = document.getElementById("storeList");

        // 기존 매장 리스트 초기화
        storeList.innerHTML = "";

        // 받아온 데이터로 매장 리스트 업데이트
        data.forEach((store) => {
          const storeDiv = document.createElement("div");
          storeDiv.className = "storeName";

          const storeInfoDiv = document.createElement("div");
          storeInfoDiv.className = "d-flex justify-content-between";

          const leftColumnDiv = document.createElement("div");
          leftColumnDiv.className = "w-75";

          const storeNoDiv = document.createElement("div");
          storeNoDiv.className = "fw-bold fs-1 m-1 text-warning";
          storeNoDiv.innerText = store.storeNo;

          const storeNameDivInner = document.createElement("div");
          storeNameDivInner.className = "fw-bold fs-1 m-1";
          storeNameDivInner.innerText = store.storeName;

          const storeAddressDiv = document.createElement("div");
          storeAddressDiv.className = "fs-2 m-1";
          storeAddressDiv.innerText = store.storeAddress;

          leftColumnDiv.appendChild(storeNoDiv);
          leftColumnDiv.appendChild(document.createElement("span"));
          leftColumnDiv.appendChild(storeNameDivInner);
          leftColumnDiv.appendChild(storeAddressDiv);

          const rightColumnDiv = document.createElement("div");
          rightColumnDiv.className = "w-25";

          const storeImgDiv = document.createElement("div");
          const storeImg = document.createElement("img");
          storeImg.className = "storeImg m-1";
          storeImg.style.borderRadius = "100px";
          storeImg.src = "/static/images/icons/store.jpg";
          storeImg.alt = "매장사진";
          storeImg.width = "150";
          storeImg.height = "150";

          storeImgDiv.appendChild(storeImg);
          rightColumnDiv.appendChild(storeImgDiv);

          storeInfoDiv.appendChild(leftColumnDiv);
          storeInfoDiv.appendChild(rightColumnDiv);

          storeDiv.appendChild(storeInfoDiv);
          storeList.appendChild(storeDiv);
        });
      }

      // 페이지 로드시 하단바 업데이트
      document.addEventListener("DOMContentLoaded", function () {
        updateFooter();
      });

      // 하단 바 업데이트
      function updateFooter() {
        var currentPageName = "메가오더"; // 현재 페이지 이름 설정

        // 하단 바의 모든 상자에 대해 반복
        document.querySelectorAll(".footerInBox").forEach(function (box) {
          var footerImg = box.querySelector("img");
          var footerText = box.querySelector("p");

          // 각 상자에 대해 현재 페이지에 따라 이미지 및 텍스트 업데이트
          if (box.classList.contains("footerMain")) {
            if (currentPageName === "메인") {
              footerImg.src = "/static/images/icons/house.png";
              footerText.style.color = "initial";
            } else {
              footerImg.src = "/static/images/icons/house (1).png";
              footerText.style.color = "black";
            }
          } else if (box.classList.contains("footerMegaOrder")) {
            if (currentPageName === "메가오더") {
              footerImg.src = "/static/images/icons/coffee-cup.png";
              footerText.style.color = "black";
            } else {
              footerImg.src = "/static/images/icons/coffee-cup (1).png";
              footerText.style.color = "initial";
            }
          } else if (box.classList.contains("footerMore")) {
            if (currentPageName === "더보기") {
              footerImg.src = "/static/images/icons/menu.png";
              footerText.style.color = "initial";
            } else {
              footerImg.src = "/static/images/icons/menu (1).png";
              footerText.style.color = "black";
            }
          }
        });
      }
    </script>
  </body>
</html>
