<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>이용약관</title>
  </head>
  <body>
    <!-- 이용약관 화면 페이지 시작 -->
    <div layout:fragment="mobile"  class="container-fluid p-0">
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <!-- 전체 동의 체크박스 -->
      <div class="allCheckBox">
        <label class="allCheck fw-bold">
          <input type="checkbox" id="checkAll" /> 전체 동의
        </label>
      </div>
      <div class="touBorder border-top border-dark"></div>
      <!-- 하부 체크박스 -->
      <div class="checkTxtBox">
        <!-- 항목 1 -->
        <div class="checkTxtInBox d-flex justify-content-between checkTxt">
          <div>
            <input type="checkbox" class="otherCheckbox" id="membershipTOUCheckbox" />
            <span class="essentialTxt text-danger">(필수)</span>
            <span>메가커피 멤버십 이용약관</span>
          </div>
          <button
            type="button"
            class="gTBtn checkTxt align-middle p-0"
            id="membershipTOU"
          >
            &gt;
          </button>
        </div>
        <!-- 항목 2 -->
        <div class="checkTxtInBox d-flex justify-content-between checkTxt">
          <div>
            <input type="checkbox" class="otherCheckbox" id="userTOUCheckbox" />
            <span class="essentialTxt text-danger">(필수)</span>
            <span>개인정보 수집 및 이용 동의서</span>
          </div>
          <button
            type="button"
            class="gTBtn checkTxt align-middle p-0"
            id="userTOU"
          >
            &gt;
          </button>
        </div>
        <!-- 항목 3 -->
        <label class="checkTxt">
          <input type="checkbox" class="otherCheckbox" /> (선택) 제3자 정보 제공
          동의서
        </label>
        <br />
        <!-- 항목 4 -->
        <label class="checkTxt pb-3">
          <input type="checkbox" class="otherCheckbox" /> (선택) 위치 기반
          서비스 이용약관
        </label>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="nextBtn">
          다음으로
        </button>
      </div>
      <!-- 입력 폼 끝 -->
      <!-- 간격 생성 시작 -->
      <div class="emptyBox"></div>
      <div class="emptyBox mb-3"></div>
      <div class="emptyBox"></div>
      <!-- 간격 생성 끝 -->
      <!-- 로고 박스 시작-->
      <div
        class="logoBox text-center w-100 d-flex flex-wrap align-content-center justify-content-center"
      >
        <img src="./images/MGC LOGO (7).png" alt="" class="w-50" />
      </div>
      <!-- 로고 박스 끝 -->
    </div>
    <!-- 로그인 화면 페이지 끝 -->
  <script  layout:fragment="script">
    // URL 파라미터에서 아이디 값을 가져와서 설정
var urlParams = new URLSearchParams(window.location.search);
var username = urlParams.get("username");
console.log("Username from URL:", username);

$("#inputMemberId").val(username);

// <페이지 이동 관련>
// 멤버십 약관 페이지로 이동
$(document).ready(function () {
  $("#membershipTOU").on("click", function (e) {
    e.preventDefault();

    window.location.href = "/membershipTOU";
  });
});

//  개인정보 처리 방침 페이지로 이동
$(document).ready(function () {
  $("#userTOU").on("click", function (e) {
    e.preventDefault();

    window.location.href = "/userTOU";
  });
});

// <전체 동의 체크박스 기능 구현>
// 전체 동의 체크박스
var checkAll = document.getElementById("checkAll");
//  하부 체크박스
var otherCheckboxes = document.querySelectorAll(".otherCheckbox");

// 전체 동의 체크박스에 이벤트 리스너 추가
checkAll.addEventListener("change", toggleCheckboxes);

// 전체 동의 체크박스의 상태가 변경되었을 때 실행되는 함수
function toggleCheckboxes() {
  // 전체 동의 체크박스의 상태에 따라 다른 체크박스들의 상태 변경
  otherCheckboxes.forEach(function (checkbox) {
    checkbox.checked = checkAll.checked;
  });
}

// < 필수 항목 체크 X -> 페이지 이동 금지 기능 구현 >
document.addEventListener('DOMContentLoaded', function () {
var membershipTOUCheckbox = document.getElementById("membershipTOUCheckbox");
  var userTOUCheckbox = document.getElementById("userTOUCheckbox");

  if (!membershipTOUCheckbox || !userTOUCheckbox) {
    console.error("요소를 찾을 수 없습니다.");
    return;
  }

  document.getElementById("nextBtn").addEventListener("click", function () {
    // (필수) 체크박스의 상태 확인
    var membershipTOUChecked = document.getElementById("membershipTOUCheckbox").checked;
    var userTOUChecked = document.getElementById("userTOUCheckbox").checked;

    // (필수) 체크박스가 체크되었는지 확인하고, 체크되지 않았다면 경고 메시지를 표시
    if (!membershipTOUChecked || !userTOUChecked) {
      alert("이용약관에 동의해야 합니다.");
      return; // 다음으로 진행하지 않음
    }

    // (필수) 체크박스가 체크되었으면 다음 페이지로 이동
   console.log("Username before redirection:", username);
    window.location.href = "/signInForm?username=" + encodeURIComponent(username);
  });
});
  </script>
  </body>
</html>
