<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <!-- meta name="viewport" : 뷰포트 설정 -->
    <!-- content="width=device-width : 디바이스의 가로 넓이에 맞춤 -->
    <!-- initial-scale = 1.0 : 최초 화면 크기 100% 비율 -->
    <!-- minimum-scale=1.0 : 최소 화면 크기 100% 비율 -->
    <!-- maximum-scale=1.0 : 최대 화면 크기 100% 비율 -->
    <!-- user-scalable=no : 사용자 확대 금지 -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <!-- 아이폰 노치 커버 -->
    <meta name="viewport" content="viewport-fit=cover" />
    <title>회원가입</title>
    <!-- 부트스트랩 CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/bootstrap.min.css"
    />
    <!-- 사용자 정의 CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
  </head>
  <body>
    <!-- 로그인 화면 페이지 시작 -->
    <div class="container-fluid p-0">
      <div class="fs-1 fw-bold">[개인정보 처리방침]</div>
      <div class="fs-1">
        ㈜앤하우스(이하 ‘메가MGC커피’라고 함)는 회원의 개인정보를 중요시하며,
        “정보통신망 이용촉진 및 정보보호에 관한 법률”을 준수하고 있습니다.
        메가MGC커피는 개인정보 취급방침을 통하여 회원으로부터 제공받은
        개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인 정보보호 보호를
        위해 어떠한 조치가 취해지고 있는지 알려드립니다.
        <br />
        메가MGC커피는 개인정보 취급방침을 개정하는 경우, 웹사이트 또는 모바일
        어플리케이션 공지사항(또는 개별공지)을 통해 회원에게 고지합니다. 개정된
        이후에도 회원이 1개월 이의 제기 없이 계속적으로 서비스를 이용하는
        경우에는 개정사항에 동의한 것으로 간주합니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">
        제 1조 (수집하는 개인정보 항목 및 수집방법)
      </div>
      <div class="fs-1">
        메가MGC커피는 회원가입, 상담, 서비스 신청, 시스템 장애 복구 등의 적합한
        멤버십 어플리케이션 서비스를 제공하고자 아래와 같이 개인정보를 수집하고
        있습니다. 회원가입 시 : 휴대전화번호 본인인증 시 : 이름, 성별, 생년월일,
        휴대폰번호, 통신사업자, 내/외국인 여부, 암호화된 이용자 확인값(CI),
        중복가입확인정보(DI) 현금영수증 발행 시 : 휴대폰번호 간편카드 등록 시 :
        카드번호, 카드유효기간, 카드 비밀번호(앞2자리),
        고객생년월일/사업자등록번호
      </div>
      <br />
      <div class="fs-1 fw-bold">제 2조 (개인정보의 수집 및 이용목적)</div>
      <div class="fs-1">
        메가MGC커피는 수집한 개인정보를 다음의 목적을 위해 활용합니다. *
        메가MGC커피 멤버십 : 스탬프 적립, 쿠폰 사용, 취소 관련 정보 또는 이에
        따른 불만처리, 민원처리, 가맹문의 온라인 상담 신청 정보
      </div>
      <br />
      <div class="fs-1 fw-bold">제 3조 (개인정보의 보유 및 이용기간)</div>
      <div class="fs-1">
        메가MGC커피는 회원이 메가MGC커피 멤버십의 서비스를 제공받는 동안 회원의
        개인정보를 보유 이용하게 됩니다. 다만, 다음 사항에 해당하는 경우
        메가MGC커피는 해당 개인정보를 지체 없이 파기합니다. ① 회원이 메가MGC커피
        멤버십을 탈퇴하는 경우 ② 회원이 개인정보 삭제 및 파기를 요청하는 경우 ③
        제 2조에서 명시된 개인정보 수집 목적 등이 완료된 경우 ④ 개인정보 수집 시
        동의 받은 보유 및 이용기간 종료되거나 사업이 폐지된 경우 ⑤ 회원이
        간편카드 사용을 위해 등록한 카드의 정보를 삭제한 경우
      </div>
      <br />
      <div class="fs-1 fw-bold">제 4조 (개인정보의 파기절차 및 방법)</div>
      <div class="fs-1">
        메가MGC커피는 원칙적으로 개인정보의 보유기간이 경과하거나 개인정보 수집
        및 이용목적이 달성되는 등 해당 개인정보가 불필요하게 된 경우에는 해당
        개인정보를 지체 없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
        ①파기절차 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로
        옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한
        정보보호 사유에 따라(제3조 개인정보의 보유 및 이용기간 참조) 일정기간
        저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가
        아니고서는 제 2조 명시된 목적 외의 다른 목적으로 이용되지 않습니다.
        ②파기방법 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여
        파기하며, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는
        기술적 방법을 사용하여 삭제합니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 5조 (개인정보 제 3자 제공)</div>
      <div class="fs-1">
        ① 회원이 제공한 개인정보는 다음 각 호에 해당하는 경우를 제외하고는
        회원의 동의 없이 제 3자에게 누설하거나 제공하지 않습니다. 1.
        회원으로부터 사전에 동의를 받은 경우 2. 통계 작성, 학술 연구 또는 시장
        조사를 위해 특정 개인을 식별할 수 없는 형태로 제공하는 경우 3. 법령의
        규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라
        수사기관의 요구가 있는 경우 ② 서비스의 제공에 필요한 범위 내에서 아래와
        같이 회원의 개인 정보를 제공하고 있습니다. 제공 대상 또는 제공정보 및
        이용 목적 등 제공 내용이 추가되거나 변경될 때에는 회원에게 전자우편 또는
        서면을 통해 추가 또는 변경되는 사항을 고지하여 동의를 받는 절차를 거치게
        됩니다. 1. 제공 기관 : ㈜발트루스트, ㈜한국정보통신 2. 제공 항목 :
        로그인시 활용한 카카오계정 정보(이름, 카카오ID, 이메일, 성별,
        생년월일)및 휴대폰번호 3. 제공 목적 : 메가MGC커피 멤버십의 회원가입 및
        원활한 서비스 제공 4. 제공 정보의 보유 및 이용 기간 : 회원탈퇴 및 계약
        종료 시, 목적 달성 후 즉시 파기 제 6조 (수집한 개인정보의 취급 위탁)
        메가MGC커피는 시스템 장애 및 오류 발생의 해결을 위해 아래와 같이
        개인정보 취급 업무를 외부 업체에 위탁하여 운영하고 있습니다. 수탁자 및
        위탁업무 내용이 추가되거나 변경될 때에는 회원에게 전자우편 또는 서면을
        통해 추가 또는 변경되는 사항을 고지하여 동의를 받는 절차를 거치게
        됩니다. ① 수탁자 : ㈜발트루스트 ② 수탁업무 : 메가MGC커피 멤버십
        어플리케이션 개발, 운영, 유지보수, 멤버십 어플리케이션 가입 및 통합 회원
        전환 시 휴대폰/이메일 인증 메시지 발송, 쿠폰 발송 ③ 수탁 기간 : 회원
        탈퇴 및 수탁업무 종료 시
      </div>
      <br />
      <div class="fs-1 fw-bold">
        제 7조 (이용자 및 법정대리인의 권리와 그 행사방법)
      </div>
      <div class="fs-1">
        ① 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세
        미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할
        수도 있습니다. (회원정보 열람 및 수정, 가입해지가 가능한 경우 추가요청)
        ② 회원이 자신의 개인정보 오류에 대한 정정을 요청한 경우, 정정을 완료하기
        전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된
        개인정보를 제 3자에게 이미 제공한 경우에는 정정 처리 결과를 제 3자에게
        지체 없이 통지하여 정정이 이루어지도록 하겠습니다. ③ 메가MGC커피는
        이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는
        메가MGC커피가 수집하는 ‘개인정보의 보유 및 이용기간’ 에 명시된 바에 따라
        처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">
        제 8조 (개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항)
      </div>
      <div class="fs-1">
        메가MGC커피는 쿠키 등 인터넷 서비스 이용 시 자동 생성되는 개인정보를
        수집하는 장치를 운영하지 않습니다.
      </div>
      <br />
      <div class="fs-1 fw-bold">제 9조 (개인정보에 관한 민원서비스)</div>
      <div class="fs-1">
        ① 메가MGC커피는 회원의 개인정보를 보호하고 개인정보와 관련한 불만을
        처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고
        있습니다. - 개인정보관리 책임자 : 마케팅실 이호민 실장 - 개인정보관리
        담당자 : 마케팅팀 신동혁 담당 - 문의 : 전화번호(02-335-0656), 당사
        사이트(https://www.mega-mgccoffee.com) ② 메가MGC커피의 서비스를 이용 시
        발생하는 모든 개인정보보호 관련 민원은 개인정보관리책임자 혹은
        담당부서로 신고할 수 있으며, 메가MGC커피는 해당 신고사항에 대해 신속하게
        충분한 답변을 드릴 것입니다. ③ 기타 개인정보침해에 대한 신고나 상담이
        필요한 경우에는 아래 기관에 문의하시기 바랍니다. -
        개인정보분쟁조정위원회 (www.kopico.go.kr / 1833-6972) - 대검찰청
        인터넷범죄수사센터 (http://www.spo.go.kr / 02-3480-2000) - 경찰청
        사이버테러대응센터 (http://cyber.go.kr / 02-3150-2659)
      </div>
      <br />
      <div class="fs-1 fw-bold">제 10조 (개인정보의 안전성 확보 조치)</div>
      <div class="fs-1">
        메가MGC커피는 「개인정보보호법」 제29조에 따라 다음과 같이 안전성 확보에
        필요한 조치를 취하고있습니다. ① 내부관리계획 수립 및 시행 메가MGC커피는
        개인정보보호와 관련한 법령 및 관련 규정을 준수하도록 내부관리계획을
        수립하고 시행합니다. ② 개인정보보호 취급 담당자의 최소화 및 교육 실시
        개인정보를 취급하는 담당자를 지정하고 최소화하여 개인정보보호에 관련한
        교육을 진행하고 있 습니다. ③ 개인정보의 암호화 회원의 개인정보는
        암호화되어 저장 및 관리되고 있습니다. 정보 저장 및 전송 시 암호화하여 사
        용하는 등의 별도 보안기능을 사용하고 있습니다.
      </div>
      <br />
      <br />
      <div class="fs-1 fw-bold">
        ※ 귀하는 메가커피 멤버십 어플리케이션의 서비스 이용에 필요한 최소한의
        개인정보 수집·이용에 동의하지 않을 권리가 있으며, 동의 거부 시 서비스
        가입·이용이 불가합니다.
      </div>

      <div class="emptyBox"></div>
      <!-- 확인 버튼 -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="submitBox btn fw-bold" id="userTOUSubmit">
          확인
        </button>
      </div>
    </div>
    <!-- 로그인 화면 페이지 끝 -->
    <!-- 부트스트랩 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <!-- j쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--  사용자 정의 JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
      // 멤버십 약관 페이지로 이동
      $(document).ready(function () {
        $("#userTOUSubmit").on("click", function (e) {
          e.preventDefault();

          window.location.href = "termsOfUse.html";
        });
      });
    </script>
  </body>
</html>
